<!-- Footer -->
<footer class="tf-footer style-4" th:fragment="footer">
  <div class="container d-flex">
    <span class="br-line"></span>
  </div>
  <div class="footer-body">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb_30 mb-xl-0">
          <div class="footer-col-block">
            <p class="footer-heading footer-heading-mobile">Contact us</p>
            <div class="tf-collapse-content">
              <ul class="footer-contact">
                <li>
                  <i class="icon icon-map-pin"></i>
                  <span class="br-line"></span>
                  <a class="h6 link"
                     href="https://www.google.com/maps?q=8500+Lorem+Street+Chicago,+IL+55030+Dolor+sit+amet"
                     target="_blank">
                    8500 Lorem Street Chicago, IL 55030 <br class="d-none d-lg-block"> Dolor sit
                    amet
                  </a>
                </li>
                <li>
                  <i class="icon icon-phone"></i>
                  <span class="br-line"></span>
                  <a class="h6 link" href="tel:+88001234567">+8(800) 123 4567</a>
                </li>
                <li>
                  <i class="icon icon-envelope-simple"></i>
                  <span class="br-line"></span>
                  <a class="h6 link"
                     href="mailto:themesflat@support.com">themesflat@support.com</a>
                </li>
              </ul>
              <div class="social-wrap">
                <ul class="tf-social-icon">
                  <li>
                    <a class="social-facebook" href="https://www.facebook.com/" target="_blank">
                      <span class="icon"><i class="icon-fb"></i></span>
                    </a>
                  </li>
                  <li>
                    <a class="social-instagram" href="https://www.instagram.com/" target="_blank">
                      <span class="icon"><i class="icon-instagram-logo"></i></span>
                    </a>
                  </li>
                  <li>
                    <a class="social-x" href="https://x.com/" target="_blank">
                      <span class="icon"><i class="icon-x"></i></span>
                    </a>
                  </li>
                  <li>
                    <a class="social-tiktok" href="https://www.tiktok.com/" target="_blank">
                      <span class="icon"><i class="icon-tiktok"></i></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-sm-6 mb_30 mb-xl-0">
          <div class="footer-col-block footer-wrap-1 ms-xl-auto">
            <p class="footer-heading footer-heading-mobile">Shopping</p>
            <div class="tf-collapse-content">
              <ul class="footer-menu-list">
                <li><a class="link h6" href="faq.html">Shipping</a></li>
                <li><a class="link h6" href="shop-default.html">Shop by Brand</a></li>
                <li><a class="link h6" href="track-order.html">Track order</a></li>
                <li><a class="link h6" href="faq.html">Terms & Conditions</a></li>
                <li><a class="link h6" data-bs-toggle="modal" href="#size-guide">Size Guide</a>
                </li>
                <li><a class="link h6" href="wishlist.html">My Wishlist</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb_30 mb-sm-0">
          <div class="footer-col-block footer-wrap-2 mx-xl-auto">
            <p class="footer-heading footer-heading-mobile">Information</p>
            <div class="tf-collapse-content">
              <ul class="footer-menu-list">
                <li><a class="link h6" href="about-us.html">About Us</a></li>
                <li><a class="link h6" href="faq.html">Term & Policy</a></li>
                <li><a class="link h6" href="faq.html">Help Center</a></li>
                <li><a class="link h6" href="blog-grid.html">News & Blog</a></li>
                <li><a class="link h6" href="faq.html">Refunds</a></li>
                <li><a class="link h6" href="faq.html">Careers</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-sm-6">
          <div class="footer-col-block">
            <p class="footer-heading footer-heading-mobile">Let’s keep in touch</p>
            <div class="tf-collapse-content">
              <div class="footer-newsletter">
                <p class="h6 caption">
                  Enter your email below to be the first to know about new collections and product
                  launches.
                </p>
                <form class="form_sub has_check" id="subscribe-form">
                  <div class="f-content" id="subscribe-content">
                    <fieldset class="col">
                      <input class="style-stroke" id="subscribe-email" name="email-form"
                             placeholder="Enter your email"
                             required type="email">
                    </fieldset>
                    <button class="tf-btn animate-btn type-small-2" id="subscribe-button"
                            type="button">
                      Subscribe
                      <i class="icon icon-arrow-right"></i>
                    </button>
                  </div>
                  <div class="checkbox-wrap">
                    <input class="tf-check style-3" id="remember" type="checkbox">
                    <label class="h6" for="remember">
                      By clicking subcribe, you agree to the  
                      <a class="text-decoration-underline link" href="faq.html">Terms
                        of Service</a> and <a class="text-decoration-underline link"
                                              href="faq.html">
                      Privacy Policy</a>.
                    </label>
                  </div>
                  <div id="subscribe-msg"></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="inner-bottom">
        <ul class="list-hor">
          <li>
            <a class="h6 link" href="faq.html">Help & FAQs</a>
          </li>
          <li class="br-line type-vertical"></li>
          <li>
            <a class="h6 link" href="faq.html">Factory</a>
          </li>
        </ul>
        <div class="list-hor flex-wrap">
          <span class="h6">Payment:</span>
          <ul class="payment-method-list">
            <li><img alt="Payment" src="/images/payment/visa.png"></li>
            <li><img alt="Payment" src="/images/payment/master-card.png"></li>
            <li><img alt="Payment" src="/images/payment/amex.png"></li>
            <li><img alt="Payment" src="/images/payment/discover.png"></li>
            <li><img alt="Payment" src="/images/payment/paypal.png"></li>
          </ul>
        </div>
        <div class="list-hor">
          <div class="tf-currencies">
            <select class="tf-dropdown-select style-default type-currencies">
              <option data-thumbnail="/images/country/us.png" selected>USD</option>
              <option data-thumbnail="/images/country/vie.png">VND</option>
            </select>
          </div>
          <span class="br-line type-vertical"></span>
          <div class="tf-languages">
            <select class="tf-dropdown-select style-default type-languages">
              <option>English</option>
              <option>العربية</option>
              <option>简体中文</option>
              <option>اردو</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /Footer -->
