<!-- Button Sidebar -->
<div class="btn-sidebar-mb d-lg-none left" th:fragment="button-sidebar">
  <button data-bs-target="#mbSidebar" data-bs-toggle="offcanvas">
    <i class="icon icon-sidebar"></i>
  </button>
</div>
<!-- /Button Sidebar -->
<!-- Sidebar -->
<div class="offcanvas offcanvas-start canvas-sidebar" id="mbSidebar" th:fragment="sidebar">
  <div class="canvas-wrapper">
    <div class="canvas-header">
      <span class="title h5 fw-bold">My Acount</span>
      <span class="icon-close link icon-close-popup" data-bs-dismiss="offcanvas"></span>
    </div>
    <div class="canvas-body sidebar-mobile-append sidebar-account"></div>
  </div>
</div>
<!-- /Sidebar -->
