<!-- Top Bar -->
<div class="tf-topbar_slide bg-black" th:fragment="topbar">
  <div class="topbar-top tf-btn-swiper-main">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-sm-1 d-none d-sm-block">
          <div class="text-white link d-flex justify-content-end nav-prev-swiper">
            <i class="icon icon-caret-left"></i>
          </div>
        </div>
        <div class="col-lg-4 col-sm-7 col-12">
          <div dir="ltr" class="swiper tf-swiper" data-auto="true" data-loop="true"
               data-delay="3000">
            <div class="swiper-wrapper">
              <div class="swiper-slide" th:each="messageKey : ${topbarKeys}">
                <h6 class="text-white fw-normal text-center" th:text="#{__${messageKey}__}">Default message</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-1 d-none d-sm-block">
          <div class="text-white link d-flex nav-next-swiper">
            <i class="icon icon-caret-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Top Bar -->
