<!DOCTYPE html>

<!--[if IE 8]>
<html class="ie"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xml:lang="en-US" lang="en-US">
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en-US"
      xml:lang="en-US"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>Ochaka - Multipurpose eCommerce HTML Template</title>
  <meta name="author" content="themesflat.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description"
        content="Themesflat Ochaka - A modern and elegant Multipurpose eCommerce HTML Template, perfect for online stores selling rings, necklaces, watches, and other accessories. SEO-optimized, fast-loading, and fully customizable.">

  <!-- font -->
  <link th:href="@{/fonts/fonts.css}" rel="stylesheet">
  <link th:href="@{/icon/icomoon/style.css}" rel="stylesheet">
  <!-- css -->
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/swiper-bundle.min.css}" rel="stylesheet">
  <link th:href="@{/css/animate.css}" rel="stylesheet">
  <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css">

  <!-- Favicon and Touch Icons  -->
  <link th:href="@{/images/logo/favicon.svg}" rel="shortcut icon">
  <link th:href="@{/images/logo/favicon.svg}" rel="apple-touch-icon-precomposed">

</head>

<body>

<!-- Scroll Top and preload -->
<div th:replace="~{view/fragments/goTop :: goTop}"></div>
<!-- /Scroll Top and preload -->

<div id="wrapper">
  <!-- Top Bar-->
  <div th:replace="~{view/fragments/topbar :: topbar}"></div>
  <!-- /Top Bar -->

  <!-- Header -->
  <div th:replace="~{view/fragments/header :: header}"></div>
  <!-- /Header -->

  <!-- 404 -->
  <section class="s-404 flat-spacing">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
          <div class="image">
            <img class="lazyload" src="/images/section/404.svg" data-src="/images/section/404.svg"
                 alt="">
          </div>
        </div>
        <div class="col-12">
          <div class="wrap">
            <div class="content">
              <h1 class="title">Something’s Missing</h1>
              <p class="sub-title h6">This page is missing or you assembled the link incorrectly</p>
            </div>
            <div class="group-btn">
              <a href="/" class="tf-btn animate-btn">
                Back to home page
              </a>
              <a href="/all-products" class="tf-btn style-line">
                Product list
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /404 -->

  <!-- Footer -->
  <div th:replace="~{view/fragments/footer :: footer}"></div>
  <!-- /Footer -->
</div>

<!-- Mobile Menu -->
<div th:replace="~{view/fragments/header :: mobileMenu}"></div>
<!-- /Mobile Menu -->

<!-- Toolbar -->
<div th:replace="~{view/fragments/toolbar :: toolbar}"></div>
<!-- /Toolbar -->

<!-- Product actions -->
<div th:replace="~{view/fragments/product-actions :: size-guide}"></div>
<div th:replace="~{view/fragments/product-actions :: compare}"></div>
<div th:replace="~{view/fragments/product-actions :: quick-view}"></div>
<!-- /Product actions -->

<!-- Search -->
<div th:replace="~{view/fragments/header :: search}"></div>
<!-- /Search -->

<!-- Shopping Cart -->
<div th:replace="~{view/fragments/header :: shoppingCart}"></div>
<!-- /Shopping Cart -->

<!-- Javascript -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/lazysize.min.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/footer.js"></script>
</body>

</html>
