<!DOCTYPE html>

<!--[if IE 8]>
<html class="ie"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xml:lang="en-US" lang="en-US">
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en-US"
      xml:lang="en-US"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>Ochaka - Multipurpose eCommerce HTML Template</title>
    <meta name="author" content="themesflat.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description"
        content="Themesflat Ochaka - A modern and elegant Multipurpose eCommerce HTML Template, perfect for online stores selling rings, necklaces, watches, and other accessories. SEO-optimized, fast-loading, and fully customizable.">

    <!-- font -->
    <link rel="stylesheet" th:href="@{/fonts/fonts.css}">
    <link rel="stylesheet" th:href="@{/icon/icomoon/style.css}">
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/swiper-bundle.min.css}">
    <link rel="stylesheet" th:href="@{/css/animate.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" th:href="@{/images/logo/favicon.svg}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/images/logo/favicon.svg}">
</head>

<body>

<!-- Scroll Top and preload -->
<div th:replace="~{view/fragments/goTop :: goTop}"></div>
<div th:replace="~{view/fragments/goTop :: preload}"></div>
<!-- /Scroll Top and preload -->

<div id="wrapper">
    <!-- Top Bar-->
    <div th:replace="~{view/fragments/topbar :: topbar}"></div>
    <!-- /Top Bar -->

    <!-- Header -->
    <div th:replace="~{view/fragments/header :: header}"></div>
    <!-- /Header -->

    <!-- Page Title -->
    <section class="s-page-title">
        <div class="container">
            <div class="content">
                <h1 class="title-page">My Account</h1>
                <ul class="breadcrumbs-page">
                    <li><a href="index.html" class="h6 link">Home</a></li>
                    <li class="d-flex"><i class="icon icon-caret-right"></i></li>
                    <li>
                        <h6 class="current-page fw-normal">My account</h6>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- /Page Title -->
    <!-- Account -->
    <section class="flat-spacing">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 d-none d-xl-block">
                    <div class="sidebar-account sidebar-content-wrap sticky-top">
                        <div class="account-author">
                            <div class="author_avatar">
                                <div class="image">
                                    <img id="imgDash" class="lazyload" src="/images/avatar/avatar-4.jpg" data-src="/images/avatar/avatar-4.jpg"
                                        alt="Avatar">
                                </div>
                                <input type="file" id="fileInputDash" accept="image/*" style="display: none;">
                                <div class="btn-change_img box-icon" id="changeImgDash">
                                    <i class="icon icon-camera"></i>
                                </div>
                            </div>
                            <h4 class="author_name">Themesflat</h4>
                            <p class="author_email h6" th:text="${userUpdateDto.email}">Example@gmail.com</p>
                        </div>
                        <ul class="my-account-nav">
                            <li>
                                <a href="account-page.html" class="my-account-nav_item h5">
                                    <i class="icon icon-circle-four"></i>
                                    Dashboard
                                </a>
                            </li>
                            <li>
                                <a href="account-orders.html" class="my-account-nav_item h5">
                                    <i class="icon icon-box-arrow-down"></i>
                                    Oders
                                </a>
                            </li>
                            <li>
                                <a href="account-addresses.html" class="my-account-nav_item h5">
                                    <i class="icon icon-address-book"></i>
                                    My address
                                </a>
                            </li>
                            <li>
                                <p class="my-account-nav_item h5 active">
                                    <i class="icon icon-setting"></i>
                                    Setting
                                </p>
                            </li>
                            <li>
                                <form action="/logout" method="post">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                    <button type="submit" class="my-account-nav_item h5" style="width: 100%">
                                        <i class="icon icon-sign-out"></i>
                                        Log out
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-9">
                    <div class="my-account-content">
                        <form class="form-change_pass" th:action="@{/user/update}" method="post" th:object="${userUpdateDto}">
                            <div class="">
                                <h2 class="account-title type-semibold">Account Setting</h2>
                                <div class="form_content">
                                    <div class="cols tf-grid-layout sm-col-2">
                                        <fieldset>
                                            <input type="text" th:field="*{firstName}" placeholder="First name *" required>
                                            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="error"></span>
                                        </fieldset>
                                        <fieldset>
                                            <input type="text" th:field="*{lastName}" placeholder="Last name *" required>
                                            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error"></span>
                                        </fieldset>
                                    </div>
                                    <fieldset>
                                        <input type="email" th:field="*{email}" placeholder="Email *" required>
                                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></span>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="">
                                <h2 class="account-title type-semibold">Change Password</h2>
                                <div class="form_content site-change">
                                    <fieldset class="password-wrapper">
                                        <input class="password-field" type="password" th:field="*{currentPassword}" placeholder="Current password *" required>
                                        <span class="toggle-pass icon-show-password"></span>
                                        <span th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}" class="error"></span>
                                    </fieldset>
                                    <fieldset class="password-wrapper">
                                        <input class="password-field" type="password" th:field="*{password}" placeholder="New password *" required>
                                        <span class="toggle-pass icon-show-password"></span>
                                        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></span>
                                    </fieldset>
                                    <fieldset class="password-wrapper">
                                        <input class="password-field" type="password" th:field="*{confirmPassword}" placeholder="Confirm password *" required>
                                        <span class="toggle-pass icon-show-password"></span>
                                        <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="error"></span>
                                    </fieldset>
                                </div>
                                <button type="submit" class="btn-submit_form tf-btn animate-btn w-100 fw-bold">
                                    Save change
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Account -->

    <!-- Footer -->
    <div th:replace="~{view/fragments/footer :: footer}"></div>
    <!-- /Footer -->
</div>

<!-- Mobile Menu -->
<div th:replace="~{view/fragments/header :: mobileMenu}"></div>
<!-- /Mobile Menu -->

<!-- Toolbar -->
<div th:replace="~{view/fragments/toolbar :: toolbar}"></div>
<!-- /Toolbar -->

<!-- Button Sidebar -->
<div th:replace="~{view/fragments/sidebar :: button-sidebar}"></div>
<!-- /Button Sidebar -->
<!-- Sidebar -->
<div th:replace="~{view/fragments/sidebar :: sidebar}"></div>
<!-- /Sidebar -->

<!-- Product actions -->
<div th:replace="~{view/fragments/product-actions :: size-guide}"></div>
<div th:replace="~{view/fragments/product-actions :: compare}"></div>
<div th:replace="~{view/fragments/product-actions :: quick-view}"></div>
<!-- /Product actions -->

<!-- Search -->
<div th:replace="~{view/fragments/header :: search}"></div>
<!-- /Search -->

<!-- Shopping Cart -->
<div th:replace="~{view/fragments/header :: shoppingCart}"></div>
<!-- /Shopping Cart -->

<!-- Javascript -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/swiper-bundle.min.js}"></script>
<script th:src="@{/js/carousel.js}"></script>
<script th:src="@{/js/bootstrap-select.min.js}"></script>
<script th:src="@{/js/lazysize.min.js}"></script>
<script th:src="@{/js/wow.min.js}"></script>
<script th:src="@{/js/infinityslide.js}"></script>
<script th:src="@{/js/parallaxie.js}"></script>
<script th:src="@{/js/count-down.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>

</html>
