<!DOCTYPE html>

<!--[if IE 8]>
<html class="ie"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xml:lang="en-US" lang="en-US">
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en-US"
      xml:lang="en-US"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>Ochaka - Multipurpose eCommerce HTML Template</title>
  <meta content="themesflat.com" name="author">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
  <meta content="Themesflat Ochaka - A modern and elegant Multipurpose eCommerce HTML Template, perfect for online stores selling rings, necklaces, watches, and other accessories. SEO-optimized, fast-loading, and fully customizable."
        name="description">

  <!-- font -->
  <link rel="stylesheet" th:href="@{/fonts/fonts.css}">
  <link rel="stylesheet" th:href="@{/icon/icomoon/style.css}">
  <!-- css -->
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/swiper-bundle.min.css}">
  <link rel="stylesheet" th:href="@{/css/animate.css}">
  <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/css/common.css}" type="text/css">

  <!-- Favicon and Touch Icons  -->
  <link rel="shortcut icon" th:href="@{/images/logo/favicon.svg}">
  <link rel="apple-touch-icon-precomposed" th:href="@{/images/logo/favicon.svg}">
</head>

<body>

<!-- Scroll Top and preload -->
<div th:replace="~{view/fragments/goTop :: goTop}"></div>
<div th:replace="~{view/fragments/goTop :: preload}"></div>
<!-- /Scroll Top and preload -->

<div id="wrapper">
  <!-- Top Bar-->
  <div th:replace="~{view/fragments/topbar :: topbar}"></div>
  <!-- /Top Bar -->

  <!-- Header -->
  <header class="tf-header header-fix">
    <div class="container">
      <div th:replace="~{view/fragments/header :: header}"></div>
    </div>
  </header>
  <!-- /Header -->

  <!-- Page Title -->
  <section class="s-page-title">
    <div class="container">
      <div class="content">
        <h1 class="title-page">Register</h1>
        <ul class="breadcrumbs-page">
          <li><a class="h6 link" th:href="@{/}">Home</a></li>
          <li class="d-flex"><i class="icon icon-caret-right"></i></li>
          <li>
            <h6 class="current-page fw-normal">Register</h6>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- /Page Title -->
  <!-- Login -->
  <section class="flat-spacing">
    <div class="container">
      <div class="s-log">
        <div class="col-left">
          <h1 class="heading">Register</h1>
          <form class="form-login" method="post" th:action="@{/user/register}"
                th:object="${userRegistration}">
            <div class="list-ver">
              <div class="cols tf-grid-layout sm-col-2">
                <fieldset>
                  <input placeholder="First name *" required th:field="*{firstName}" type="text">
                  <span class="error-message" th:errors="*{firstName}"
                        th:if="${#fields.hasErrors('firstName')}"></span>
                </fieldset>
                <fieldset>
                  <input placeholder="Last name *" required th:field="*{lastName}" type="text">
                  <span class="error-message" th:errors="*{lastName}"
                        th:if="${#fields.hasErrors('lastName')}"></span>
                </fieldset>
              </div>
              <fieldset>
                <input placeholder="Enter your email address *"
                       required
                       th:field="*{email}"
                       type="email">
                <div class="error-message" th:if="${#fields.hasErrors('email')}">
                  <span th:errors="*{email}"></span>
                </div>
              </fieldset>
              <fieldset class="password-wrapper">
                <input class="password-field"
                       placeholder="Password *"
                       required
                       th:field="*{password}"
                       type="password">
                <span class="toggle-pass icon-show-password"></span>
                <div class="error-message" th:if="${#fields.hasErrors('password')}">
                  <span th:errors="*{password}"></span>
                </div>
              </fieldset>
              <fieldset class="password-wrapper">
                <input class="password-field"
                       placeholder="Confirm password *"
                       required
                       th:field="*{confirmPassword}"
                       type="password">
                <span class="toggle-pass icon-show-password"></span>
                <!-- Error display cho confirmPassword -->
                <div class="error-message" th:if="${#fields.hasErrors('confirmPassword')}">
                  <span th:errors="*{confirmPassword}"></span>
                </div>
              </fieldset>
            </div>
            <div class="orther-log list-ver">
              <div class="text-social">
                <span class="br-line"></span>
                <p class="h6 text-nowrap">Or continue with social account</p>
                <span class="br-line"></span>
              </div>
              <div class="list-hor flex-wrap flex-lg-nowrap">
                <a class="tf-btn style-line w-100" th:href="@{#}">
                                        <span class="icon">
                                            <svg fill="none" height="22" viewBox="0 0 22 22"
                                                 width="22" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_278_6045)">
                                                    <path
                                                        d="M21.6696 9.08832L12.696 9.08789C12.2997 9.08789 11.9785 9.40904 11.9785 9.8053V12.672C11.9785 13.0681 12.2997 13.3894 12.6959 13.3894H17.7493C17.196 14.8254 16.1632 16.0281 14.8455 16.7922L17.0002 20.5223C20.4567 18.5233 22.5002 15.0158 22.5002 11.0894C22.5002 10.5303 22.459 10.1307 22.3766 9.68064C22.314 9.33874 22.0171 9.08832 21.6696 9.08832Z"
                                                        fill="#167EE6"/>
                                                    <path
                                                        d="M11.4999 17.6964C9.02689 17.6964 6.86797 16.3452 5.70846 14.3457L1.97852 16.4956C3.87666 19.7854 7.4325 22.0007 11.4999 22.0007C13.4953 22.0007 15.378 21.4635 16.9999 20.5272V20.5221L14.8452 16.792C13.8595 17.3637 12.719 17.6964 11.4999 17.6964Z"
                                                        fill="#12B347"/>
                                                    <path
                                                        d="M17 20.5262V20.5211L14.8452 16.791C13.8596 17.3626 12.7192 17.6954 11.5 17.6954V21.9997C13.4953 21.9997 15.3782 21.4625 17 20.5262Z"
                                                        fill="#0F993E"/>
                                                    <path
                                                        d="M4.80435 11.0007C4.80435 9.78177 5.13702 8.64133 5.70854 7.65576L1.9786 5.50586C1.0372 7.12264 0.5 9.00029 0.5 11.0007C0.5 13.0012 1.0372 14.8788 1.9786 16.4956L5.70854 14.3457C5.13702 13.3602 4.80435 12.2197 4.80435 11.0007Z"
                                                        fill="#FFD500"/>
                                                    <path
                                                        d="M11.4999 4.30435C13.1126 4.30435 14.5939 4.87738 15.7509 5.83056C16.0363 6.06568 16.4512 6.04871 16.7127 5.78725L18.7438 3.75611C19.0405 3.45946 19.0193 2.97387 18.7024 2.69895C16.7639 1.0172 14.2416 0 11.4999 0C7.4325 0 3.87666 2.21534 1.97852 5.50511L5.70846 7.65501C6.86797 5.65555 9.02689 4.30435 11.4999 4.30435Z"
                                                        fill="#FF4B26"/>
                                                    <path
                                                        d="M15.751 5.83056C16.0364 6.06568 16.4513 6.04871 16.7128 5.78725L18.7439 3.75611C19.0405 3.45946 19.0194 2.97387 18.7025 2.69895C16.764 1.01716 14.2417 0 11.5 0V4.30435C13.1126 4.30435 14.594 4.87738 15.751 5.83056Z"
                                                        fill="#D93F21"/>
                                                </g>
                                            </svg>
                                        </span>
                  Sign in with Google
                </a>
                <a class="tf-btn style-line w-100" th:href="@{#}">
                                        <span class="icon">
                                            <svg fill="none" height="22" viewBox="0 0 22 22"
                                                 width="22" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_278_6055)">
                                                    <path
                                                        d="M22.5 11C22.5 16.4905 18.4773 21.0414 13.2188 21.8664V14.1797H15.7818L16.2695 11H13.2188V8.93664C13.2188 8.06652 13.645 7.21875 15.0114 7.21875H16.3984V4.51172C16.3984 4.51172 15.1395 4.29688 13.9359 4.29688C11.4235 4.29688 9.78125 5.81969 9.78125 8.57656V11H6.98828V14.1797H9.78125V21.8664C4.52273 21.0414 0.5 16.4905 0.5 11C0.5 4.92508 5.42508 0 11.5 0C17.5749 0 22.5 4.92508 22.5 11Z"
                                                        fill="#1877F2"/>
                                                    <path
                                                        d="M15.7818 14.1797L16.2695 11H13.2188V8.9366C13.2188 8.0667 13.6449 7.21875 15.0114 7.21875H16.3984V4.51172C16.3984 4.51172 15.1396 4.29688 13.9361 4.29688C11.4235 4.29688 9.78125 5.81969 9.78125 8.57656V11H6.98828V14.1797H9.78125V21.8663C10.3413 21.9542 10.9153 22 11.5 22C12.0847 22 12.6587 21.9542 13.2188 21.8663V14.1797H15.7818Z"
                                                        fill="white"/>
                                                </g>
                                            </svg>
                                        </span>
                  Sign in with Google
                </a>
              </div>
            </div>
            <button class="tf-btn animate-btn w-100" type="submit">
              Register
            </button>
          </form>
        </div>
        <div class="col-right">
          <h1 class="heading">Have An Account</h1>
          <p class="h6 text-sub">
            Welcome back, log in to your account to enhance your shopping experience, receive
            coupons, and the best discount codes.
          </p>
          <a class="btn_log tf-btn animate-btn" th:href="@{/login}">
            Login
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- /Login -->

  <!-- Footer -->
  <div th:replace="~{view/fragments/footer :: footer}"></div>
  <!-- /Footer -->
</div>

<!-- Mobile Menu -->
<div th:replace="~{view/fragments/header :: mobileMenu}"></div>
<!-- /Mobile Menu -->

<!-- Toolbar -->
<div th:replace="~{view/fragments/toolbar :: toolbar}"></div>
<!-- /Toolbar -->

<!-- Product actions -->
<div th:replace="~{view/fragments/product-actions :: size-guide}"></div>
<div th:replace="~{view/fragments/product-actions :: compare}"></div>
<div th:replace="~{view/fragments/product-actions :: quick-view}"></div>
<!-- /Product actions -->

<!-- Search -->
<div th:replace="~{view/fragments/header :: search}"></div>
<!-- /Search -->

<!-- Shopping Cart -->
<div th:replace="~{view/fragments/header :: shoppingCart}"></div>
<!-- /Shopping Cart -->

<!-- Javascript -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/swiper-bundle.min.js}"></script>
<script th:src="@{/js/carousel.js}"></script>
<script th:src="@{/js/bootstrap-select.min.js}"></script>
<script th:src="@{/js/lazysize.min.js}"></script>
<script th:src="@{/js/wow.min.js}"></script>
<script th:src="@{/js/infinityslide.js}"></script>
<script th:src="@{/js/parallaxie.js}"></script>
<script th:src="@{/js/count-down.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/language-switcher.js}"></script>
</body>

</html>
