<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>
<nav class="custom-navbar py-2" th:fragment="navbar">
  <div class="container">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="/static">Trang chủ</a>
      </li>
      <li class="nav-item dropdown">
        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
           id="navbarDropdown" role="button">
          Danh mục
        </a>
        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
          <li><a class="dropdown-item" href="/category/1">Túi xách nữ</a></li>
          <li><a class="dropdown-item" href="/category/2">Túi đeo chéo</a></li>
          <li><a class="dropdown-item" href="/category/3">Balo</a></li>
          <li><a class="dropdown-item" href="/category/4">Túi du lịch</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/new-arrivals">Hàng mới về</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sale">Khuyến mãi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">Giới thiệu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Liên hệ</a>
      </li>
    </ul>
  </div>
</nav>
</body>
</html>
