<!DOCTYPE html>

<!--[if IE 8]>
<html class="ie"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xml:lang="en-US" lang="en-US">
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en-US"
      xml:lang="en-US"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>Ochaka - Multipurpose eCommerce HTML Template</title>
  <meta content="themesflat.com" name="author">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
  <meta
      content="Themesflat Ochaka - A modern and elegant Multipurpose eCommerce HTML Template, perfect for online stores selling rings, necklaces, watches, and other accessories. SEO-optimized, fast-loading, and fully customizable."
      name="description">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

  <!-- font -->
  <link rel="stylesheet" th:href="@{/fonts/fonts.css}">
  <link rel="stylesheet" th:href="@{/icon/icomoon/style.css}">
  <!-- css -->
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/swiper-bundle.min.css}">
  <link rel="stylesheet" th:href="@{/css/animate.css}">
  <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/css/common.css}" type="text/css">
  <link href="/css/admin/admin.css" rel="stylesheet" type="text/css">

  <!-- Favicon and Touch Icons  -->
  <link rel="shortcut icon" th:href="@{/images/logo/favicon.svg}">
  <link rel="apple-touch-icon-precomposed" th:href="@{/images/logo/favicon.svg}">
</head>

<body>

<!-- Scroll Top and preload -->
<div th:replace="~{view/shop/fragments/goTop :: goTop}"></div>
<!-- /Scroll Top and preload -->

<div id="wrapper">
  <!-- Page Title -->
  <section th:replace="~{view/admin/fragments/admin-title.html :: title}"></section>
  <!-- /Page Title -->
  <!-- Account -->
  <section class="flat-spacing">
    <input accept="image/*" class="fileInputDash" style="display: none;" type="file">
    <div class="container-full">
      <div class="row">
        <div th:replace="~{view/admin/fragments/menu.html :: menu('categories')}"></div>
        <div class="col-xl-9">
          <div class="my-account-content">
            <div class="alert alert-success" role="alert" th:if="${successMessage}">
              <span th:text="${successMessage}"></span>
            </div>
            <div class="alert alert-danger" role="alert" th:if="${errorMessage}">
              <span th:text="${errorMessage}"></span>
            </div>
            <form class="form-change_pass" method="post" th:action="@{/admin/categories/create}"
                  th:object="${categoryDto}">
              <div class="" style="padding-bottom: 20px">
                <h2 class="account-title type-semibold"
                    th:text="${mode} + ' category'">
                  Update category:
                </h2>
                <div class="form_content site-change">
                  <fieldset>
                    <label for="name">Name</label>
                    <input id="name" placeholder="Name *" required
                           th:field="*{name}" type="text">
                  </fieldset>
                  <fieldset>
                    <label for="code">Code</label>
                    <input id="code" placeholder="Name *" required
                           th:field="*{code}" type="text">
                  </fieldset>
                  <fieldset>
                    <label for="description">Description</label>
                    <textarea id="description" maxlength="255" placeholder="Description *"
                              th:field="*{description}" type="text"></textarea>
                  </fieldset>
                </div>
                <button class="btn-submit_form tf-btn animate-btn w-100 fw-bold" type="submit">
                  Save change
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Account -->
</div>

<!-- Button Sidebar -->
<div th:replace="~{view/shop/fragments/sidebar :: button-sidebar}"></div>
<!-- /Button Sidebar -->
<!-- Sidebar -->
<div th:replace="~{view/shop/fragments/sidebar :: sidebar}"></div>
<!-- /Sidebar -->

<!-- Javascript -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/swiper-bundle.min.js}"></script>
<script th:src="@{/js/carousel.js}"></script>
<script th:src="@{/js/bootstrap-select.min.js}"></script>
<script th:src="@{/js/lazysize.min.js}"></script>
<script th:src="@{/js/wow.min.js}"></script>
<script th:src="@{/js/infinityslide.js}"></script>
<script th:src="@{/js/parallaxie.js}"></script>
<script th:src="@{/js/count-down.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/language-switcher.js}"></script>
</body>

</html>
