<!DOCTYPE html>

<!--[if IE 8]>
<html class="ie"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xml:lang="en-US" lang="en-US">
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en-US"
      xml:lang="en-US"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>Ochaka - Multipurpose eCommerce HTML Template</title>
  <meta content="themesflat.com" name="author">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
  <meta
      content="Themesflat Ochaka - A modern and elegant Multipurpose eCommerce HTML Template, perfect for online stores selling rings, necklaces, watches, and other accessories. SEO-optimized, fast-loading, and fully customizable."
      name="description">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

  <!-- font -->
  <link rel="stylesheet" th:href="@{/fonts/fonts.css}">
  <link rel="stylesheet" th:href="@{/icon/icomoon/style.css}">
  <!-- css -->
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/swiper-bundle.min.css}">
  <link rel="stylesheet" th:href="@{/css/animate.css}">
  <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/css/common.css}" type="text/css">

  <!-- Favicon and Touch Icons  -->
  <link rel="shortcut icon" th:href="@{/images/logo/favicon.svg}">
  <link rel="apple-touch-icon-precomposed" th:href="@{/images/logo/favicon.svg}">
</head>

<body>

<!-- Scroll Top and preload -->
<div th:replace="~{view/shop/fragments/goTop :: goTop}"></div>
<!-- /Scroll Top and preload -->

<div id="wrapper">
  <!-- Page Title -->
  <section class="s-page-title">
    <div class="content">
      <h1 class="title-page">Admin</h1>
    </div>
  </section>
  <!-- /Page Title -->
  <!-- Account -->
  <section class="flat-spacing">
    <input accept="image/*" class="fileInputDash" style="display: none;" type="file">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 d-none d-xl-block">
          <div class="sidebar-account sidebar-content-wrap sticky-top">
            <div class="account-author">
              <div class="author_avatar">
                <div class="image">
                  <img alt="Avatar"
                       class="lazyload imgDash"
                       th:data-src="${imgUrl}"
                       th:src="${imgUrl}"
                       th:with="imgUrl=${#strings.isEmpty(adminDto.imageUrl) ? '/images/avatar/avatar-default.jpg' : adminDto.imageUrl}">
                </div>
                <div class="btn-change_img box-icon changeImgDash">
                  <i class="icon icon-camera"></i>
                </div>
              </div>
              <h4 class="author_name" th:text="${adminDto.firstName}">Firstname</h4>
              <p class="author_email h6" th:text="${adminDto.email}">Email</p>
            </div>
            <ul class="my-account-nav">
              <li>
                <a class="my-account-nav_item h5 active" href="/admin/users">
                  <i class="icon icon-user"></i>
                  Users
                </a>
              </li>
              <li>
                <a class="my-account-nav_item h5" href="account-orders.html">
                  <i class="icon icon-box-arrow-down"></i>
                  Oders
                </a>
              </li>
              <li>
                <a class="my-account-nav_item h5" href="account-addresses.html">
                  <i class="icon icon-address-book"></i>
                  My address
                </a>
              </li>
              <li>
                <a class="my-account-nav_item h5" href="account-setting.html">
                  <i class="icon icon-setting"></i>
                  Setting
                </a>
              </li>
              <li>
                <form action="/logout" method="post">
                  <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                  <button class="my-account-nav_item h5" style="width: 100%" type="submit">
                    <i class="icon icon-sign-out"></i>
                    Log out
                  </button>
                </form>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-9">
          <div class="my-account-content">
            <div class="alert alert-success" role="alert" th:if="${successMessage}">
              <span th:text="${successMessage}"></span>
            </div>
            <div class="alert alert-danger" role="alert" th:if="${errorMessage}">
              <span th:text="${errorMessage}"></span>
            </div>
            <form class="form-change_pass" method="post" th:action="@{/admin/users/update}"
                  th:object="${userDto}">
              <input th:field="*{id}" type="hidden"/>
              <input th:field="*{email}" type="hidden"/>
              <div class="" style="padding-bottom: 20px">
                <h2 class="account-title type-semibold"
                    th:text="'Update user: ' + ${userDto.email}">
                  Update user:
                </h2>
                <div class="form_content site-change">
                  <div class="cols tf-grid-layout sm-col-2">
                    <fieldset>
                      <input disabled placeholder="First name *"
                             style="background-color: #6c757d" th:field="*{firstName}" type="text">
                    </fieldset>
                    <fieldset>
                      <input disabled placeholder="Last name *" style="background-color: #6c757d" th:field="*{lastName}"
                             type="text">
                    </fieldset>
                  </div>
                  <fieldset>
                    <input disabled placeholder="Email *" style="background-color: #6c757d" th:field="*{email}"
                           type="email">
                  </fieldset>
                  <div class="cols tf-grid-layout sm-col-2">
                    <fieldset>
                      <div class="tf-select">
                        <select class="w-100" th:field="*{role}">
                          <option th:each="role : ${roleList}"
                                  th:text="${role}"
                                  th:value="${role}">
                          </option>
                        </select>
                      </div>
                    </fieldset>
                    <fieldset>
                      <div class="tf-select">
                        <select class="w-100" th:field="*{status}">
                          <option th:each="status : ${statusList}"
                                  th:text="${status}"
                                  th:value="${status}">
                          </option>
                        </select>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <button class="btn-submit_form tf-btn animate-btn w-100 fw-bold" type="submit">
                  Save change
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Account -->
</div>

<!-- Button Sidebar -->
<div th:replace="~{view/fragments/sidebar :: button-sidebar}"></div>
<!-- /Button Sidebar -->
<!-- Sidebar -->
<div th:replace="~{view/fragments/sidebar :: sidebar}"></div>
<!-- /Sidebar -->

<!-- Javascript -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/swiper-bundle.min.js}"></script>
<script th:src="@{/js/carousel.js}"></script>
<script th:src="@{/js/bootstrap-select.min.js}"></script>
<script th:src="@{/js/lazysize.min.js}"></script>
<script th:src="@{/js/wow.min.js}"></script>
<script th:src="@{/js/infinityslide.js}"></script>
<script th:src="@{/js/parallaxie.js}"></script>
<script th:src="@{/js/count-down.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/language-switcher.js}"></script>
</body>

</html>
