<!-- Header -->
<div class="row align-items-center" th:fragment="header">
  <div class="col-md-4 col-3 d-xl-none">
    <a class="btn-mobile-menu" data-bs-toggle="offcanvas" href="#mobileMenu">
      <span></span>
    </a>
  </div>

  <div class="col-xl-5 d-none d-xl-block">
    <nav class="box-navigation">
      <ul class="box-nav-menu justify-content-start">
        <li class="menu-item position-relative">
          <a class="item-link" href="#">
            <span th:remove="tag" th:text="#{navbar.products}">PRODUCTS</span>
            <i class="icon icon-caret-down"></i>
          </a>
          <div class="sub-menu">
            <ul class="sub-menu_list">
              <li><a class="sub-menu_link" href="/products">Tất Cả Sản Phẩm</a></li>
              <li th:each="category : ${categoryList}">
                <a class="sub-menu_link"
                   th:href="'/products/' + ${category.code}"
                   th:text="${category.name}">
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!--        <li class="menu-item">-->
        <!--          <a class="item-link" href="#">-->
        <!--            <span th:remove="tag" th:text="#{navbar.collections}">COLLECTIONS</span>-->
        <!--            <i class="icon icon-caret-down"></i>-->
        <!--          </a>-->
        <!--          <div class="sub-menu mega-menu mega-home">-->
        <!--            <div class="container">-->
        <!--              <div class="row-demo">-->
        <!--                <div class="demo-item" th:each="collection : ${collectionList}">-->
        <!--                  <a class="demo-img" th:href="@{${collection.url}}">-->
        <!--                    <img alt="Demo"-->
        <!--                         class="lazyload"-->
        <!--                         th:alt="${collection.name}"-->
        <!--                         th:data-src="@{${collection.imageUrl}}"-->
        <!--                         th:src="@{${collection.imageUrl}}">-->
        <!--                    <div class="demo-label" th:if="${collection.isNew}">-->
        <!--                      <span>New</span>-->
        <!--                    </div>-->
        <!--                  </a>-->
        <!--                  <a class="demo-name" th:href="@{${collection.url}}" th:text="${collection.name}">Collection-->
        <!--                    Name</a>-->
        <!--                </div>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </li>-->
        <!--        <li class="menu-item">-->
        <!--          <a class="item-link" href="#">-->
        <!--            <span th:remove="tag" th:text="#{navbar.shop}">SHOP</span>-->
        <!--            <i class="icon icon-caret-down"></i>-->
        <!--          </a>-->
        <!--          <div class="sub-menu mega-menu">-->
        <!--            <div class="container">-->
        <!--              <div class="row">-->
        <!--                <div class="col-2">-->
        <!--                  <div class="mega-menu-item">-->
        <!--                    <h4 class="menu-heading">Shop Layout</h4>-->
        <!--                    <ul class="sub-menu_list">-->
        <!--                      <li><a class="sub-menu_link" href="shop-default.html">Default Grid</a>-->
        <!--                      </li>-->
        <!--                      <li><a class="sub-menu_link" href="shop-default-list.html">Default-->
        <!--                        List</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="shop-2-columns.html">Shop 2-->
        <!--                        Columns</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="shop-3-columns.html">Shop 3-->
        <!--                        Columns</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="shop-4-columns.html">Shop 4-->
        <!--                        Columns</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="shop-5-columns.html">Shop 5-->
        <!--                        Columns</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="shop-6-columns.html">Shop 6-->
        <!--                        Columns</a></li>-->
        <!--                    </ul>-->
        <!--                  </div>-->
        <!--                </div>-->
        <!--                <div class="col-2">-->
        <!--                  <div class="mega-menu-item">-->
        <!--                    <h4 class="menu-heading">Shop Features</h4>-->
        <!--                    <ul class="sub-menu_list">-->
        <!--                      <li><a class="sub-menu_link" href="shop-full-width-list.html">Full Width-->
        <!--                        List</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="shop-full-width-grid.html">Full Width-->
        <!--                        Grid</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="shop-left-sidebar.html">Left-->
        <!--                        Sidebar</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="shop-right-sidebar.html">Right-->
        <!--                        Sidebar</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="shop-filter-dropdown.html">Filter-->
        <!--                        Dropdown</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="shop-filter-drawer.html">Filter-->
        <!--                        Drawer</a></li>-->
        <!--                    </ul>-->
        <!--                  </div>-->
        <!--                </div>-->
        <!--                <div class="col-2">-->
        <!--                  <div class="mega-menu-item">-->
        <!--                    <h4 class="menu-heading">Shop Hover</h4>-->
        <!--                    <ul class="sub-menu_list">-->
        <!--                      <li><a class="sub-menu_link" href="shop-hover-01.html">Hover Style-->
        <!--                        01</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="shop-hover-02.html">Hover Style-->
        <!--                        02</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="shop-hover-03.html">Hover Style-->
        <!--                        03</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="shop-hover-04.html">Hover Style-->
        <!--                        04</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="shop-hover-05.html">Hover Style-->
        <!--                        05</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="shop-hover-06.html">Hover Style-->
        <!--                        06</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="shop-hover-07.html">Hover Style-->
        <!--                        07</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="shop-hover-08.html">Hover Style-->
        <!--                        08</a></li>-->
        <!--                    </ul>-->
        <!--                  </div>-->
        <!--                </div>-->
        <!--                <div class="col-6">-->
        <!--                  <ul class="list-hor">-->
        <!--                    <li class="wg-cls hover-img">-->
        <!--                      <a class="image img-style" href="shop-default.html">-->
        <!--                        <img alt="Collection"-->
        <!--                             class="lazyload" data-src="/images/collections/cls-header-1.jpg"-->
        <!--                             src="/images/collections/cls-header-1.jpg">-->
        <!--                      </a>-->
        <!--                      <div class="cls-content">-->
        <!--                        <h4 class="tag_cls">Men</h4>-->
        <!--                        <span class="br-line type-vertical"></span>-->
        <!--                        <a class="tf-btn-line" href="shop-default.html"> Shop now </a>-->
        <!--                      </div>-->
        <!--                    </li>-->
        <!--                    <li class="wg-cls hover-img">-->
        <!--                      <a class="image img-style" href="shop-default.html">-->
        <!--                        <img alt="Collection"-->
        <!--                             class="lazyload" data-src="/images/collections/cls-header-2.jpg"-->
        <!--                             src="/images/collections/cls-header-2.jpg">-->
        <!--                      </a>-->
        <!--                      <div class="cls-content">-->
        <!--                        <h4 class="tag_cls">Women</h4>-->
        <!--                        <span class="br-line type-vertical"></span>-->
        <!--                        <a class="tf-btn-line" href="shop-default.html"> Shop now </a>-->
        <!--                      </div>-->
        <!--                    </li>-->
        <!--                  </ul>-->
        <!--                </div>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </li>-->
        <!--        <li class="menu-item">-->
        <!--          <a class="item-link" href="#">-->
        <!--            <span th:remove="tag" th:text="#{navbar.product}">PRODUCT</span>-->
        <!--            <i class="icon icon-caret-down"></i>-->
        <!--          </a>-->
        <!--          <div class="sub-menu mega-menu">-->
        <!--            <div class="container">-->
        <!--              <div class="row">-->
        <!--                <div class="col-2">-->
        <!--                  <div class="mega-menu-item">-->
        <!--                    <h4 class="menu-heading">Product Layout</h4>-->
        <!--                    <ul class="sub-menu_list">-->
        <!--                      <li><a class="sub-menu_link" href="product-detail.html">Product-->
        <!--                        Detail</a></li>-->
        <!--                      <li>-->
        <!--                        <a class="sub-menu_link" href="product-left-thumbnail.html">Product-->
        <!--                          Left Thumbnail</a>-->
        <!--                      </li>-->
        <!--                      <li>-->
        <!--                        <a class="sub-menu_link" href="product-right-thumbnail.html">Product-->
        <!--                          Right-->
        <!--                          Thumbnail</a>-->
        <!--                      </li>-->
        <!--                      <li>-->
        <!--                        <a class="sub-menu_link" href="product-bottom-thumbnail.html">Product-->
        <!--                          Bottom-->
        <!--                          Thumbnail</a>-->
        <!--                      </li>-->
        <!--                      <li><a class="sub-menu_link" href="product-grid.html">Product Grid</a>-->
        <!--                      </li>-->
        <!--                      <li><a class="sub-menu_link" href="product-grid-2.html">Product Grid-->
        <!--                        2</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="product-stacked.html">Product-->
        <!--                        Stacked</a></li>-->
        <!--                    </ul>-->
        <!--                  </div>-->
        <!--                </div>-->
        <!--                <div class="col-2">-->
        <!--                  <div class="mega-menu-item">-->
        <!--                    <h4 class="menu-heading">Product Details</h4>-->
        <!--                    &lt;!&ndash; prettier-ignore &ndash;&gt;-->
        <!--                    <ul class="sub-menu_list">-->
        <!--                      <li><a class="sub-menu_link" href="product-information.html">Product-->
        <!--                        Information</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="product-group.html">Product Group</a>-->
        <!--                      </li>-->
        <!--                      <li><a class="sub-menu_link" href="product-options-customizer.html">Product-->
        <!--                        Option-->
        <!--                        Customize</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="product-available.html">Product-->
        <!--                        Avaialable</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="product-video.html">Product Video</a>-->
        <!--                      </li>-->
        <!--                      <li><a class="sub-menu_link" href="product-buyX-getY.html">Product Buy X-->
        <!--                        Get Y</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="product-buy-the-look.html">Product-->
        <!--                        Buy The Look</a>-->
        <!--                      </li>-->
        <!--                      <li><a class="sub-menu_link" href="product-out-of-stock.html">Product-->
        <!--                        Out Of Stock</a>-->
        <!--                      </li>-->
        <!--                    </ul>-->
        <!--                  </div>-->
        <!--                </div>-->
        <!--                <div class="col-2">-->
        <!--                  <div class="mega-menu-item">-->
        <!--                    <h4 class="menu-heading">Product Feature</h4>-->
        <!--                    <ul class="sub-menu_list">-->
        <!--                      <li>-->
        <!--                        <a class="sub-menu_link"-->
        <!--                           href="product-frequently-bought-together.html">Buy-->
        <!--                          Together</a>-->
        <!--                      </li>-->
        <!--                      <li>-->
        <!--                        <a class="sub-menu_link" href="product-often-purchased-together.html">Often-->
        <!--                          Purchased-->
        <!--                          Together</a>-->
        <!--                      </li>-->
        <!--                      <li>-->
        <!--                        <a class="sub-menu_link" href="product-countdown-timer.html">Countdown-->
        <!--                          Timer</a>-->
        <!--                      </li>-->
        <!--                      <li>-->
        <!--                        <a class="sub-menu_link" href="product-volume-discount.html">Volume-->
        <!--                          Discount</a>-->
        <!--                      </li>-->
        <!--                      <li>-->
        <!--                        <a class="sub-menu_link"-->
        <!--                           href="product-volume-discount-thumbnail.html">Volume Discount-->
        <!--                          Thumbnail</a>-->
        <!--                      </li>-->
        <!--                      <li>-->
        <!--                        <a class="sub-menu_link" href="product-swatch-dropdown.html">Swatch-->
        <!--                          Dropdown</a>-->
        <!--                      </li>-->
        <!--                      <li>-->
        <!--                        <a class="sub-menu_link" href="product-swatch-dropdown-color.html">Swatch-->
        <!--                          Dropdown-->
        <!--                          Color</a>-->
        <!--                      </li>-->
        <!--                      <li><a class="sub-menu_link" href="product-swatch-image.html">Swatch-->
        <!--                        Image</a></li>-->
        <!--                      <li>-->
        <!--                        <a class="sub-menu_link" href="product-swatch-image-square.html">Swatch-->
        <!--                          Image-->
        <!--                          Retangle</a>-->
        <!--                      </li>-->
        <!--                    </ul>-->
        <!--                  </div>-->
        <!--                </div>-->
        <!--                <div class="col-2">-->
        <!--                  <div class="mega-menu-item">-->
        <!--                    <h4 class="menu-heading">Product Description</h4>-->
        <!--                    <ul class="sub-menu_list">-->
        <!--                      <li>-->
        <!--                        <a class="sub-menu_link" href="product-description-accordion.html">Product-->
        <!--                          Description-->
        <!--                          Accordion</a>-->
        <!--                      </li>-->
        <!--                      <li>-->
        <!--                        <a class="sub-menu_link" href="product-description-list.html">Product-->
        <!--                          Description-->
        <!--                          List</a>-->
        <!--                      </li>-->
        <!--                      <li>-->
        <!--                        <a class="sub-menu_link" href="product-description-vertical.html">Product-->
        <!--                          Description-->
        <!--                          Vertical</a>-->
        <!--                      </li>-->
        <!--                    </ul>-->
        <!--                  </div>-->
        <!--                </div>-->
        <!--                <div class="col-4">-->
        <!--                  <div class="mega-menu-item mn-none">-->
        <!--                    <h4 class="menu-heading">Recent Products</h4>-->
        <!--                    <ul class="list-ver">-->
        <!--                      <li class="prd-recent hover-img">-->
        <!--                        <a class="image img-style" href="product-detail.html">-->
        <!--                          <img alt="Image"-->
        <!--                               class="lazyload"-->
        <!--                               data-src="/images/section/recent-1.jpg"-->
        <!--                               src="/images/section/recent-1.jpg">-->
        <!--                        </a>-->
        <!--                        <div class="content">-->
        <!--                          <span class="badge-tag">T-shirt</span>-->
        <!--                          <a class="name-prd h6 fw-medium link" href="product-detail.html">-->
        <!--                            Women's Short Sleeve V-Neck Activewear T-Shirt Dry-Fit Wicking-->
        <!--                            Yoga Top-->
        <!--                          </a>-->
        <!--                          <span class="price-wrap h6 fw-semibold text-black"> $69,99 </span>-->
        <!--                        </div>-->
        <!--                      </li>-->
        <!--                      <li class="br-line"></li>-->
        <!--                      <li class="prd-recent hover-img">-->
        <!--                        <a class="image img-style" href="product-detail.html">-->
        <!--                          <img alt="Image"-->
        <!--                               class="lazyload"-->
        <!--                               data-src="/images/section/recent-2.jpg"-->
        <!--                               src="/images/section/recent-2.jpg">-->
        <!--                        </a>-->
        <!--                        <div class="content">-->
        <!--                          <span class="badge-tag">T-shirt</span>-->
        <!--                          <a class="name-prd h6 fw-medium link" href="product-detail.html">-->
        <!--                            Women's Short Sleeve V-Neck Activewear T-Shirt Dry-Fit Wicking-->
        <!--                            Yoga Top-->
        <!--                          </a>-->
        <!--                          <span class="price-wrap h6 fw-semibold text-black"> $69,99 </span>-->
        <!--                        </div>-->
        <!--                      </li>-->
        <!--                    </ul>-->
        <!--                  </div>-->
        <!--                </div>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </li>-->
        <!--        <li class="menu-item position-relative">-->
        <!--          <a class="item-link" href="#">-->
        <!--            <span th:remove="tag" th:text="#{navbar.pages}">PAGE</span>-->
        <!--            <i class="icon icon-caret-down"></i>-->
        <!--          </a>-->
        <!--          <div class="sub-menu">-->
        <!--            <ul class="sub-menu_list">-->
        <!--              <li><a class="sub-menu_link" href="about-us.html">About us</a></li>-->
        <!--              <li><a class="sub-menu_link" href="store-list.html">Store List</a></li>-->
        <!--              <li><a class="sub-menu_link" href="404.html">404</a></li>-->
        <!--              <li><a class="sub-menu_link" href="faq.html">FAQs</a></li>-->
        <!--              <li><a class="sub-menu_link" href="track-order.html">Order Tracking</a></li>-->
        <!--              <li><a class="sub-menu_link" href="invoice.html">Invoice</a></li>-->
        <!--              <li><a class="sub-menu_link" href="account-page.html">My account</a></li>-->
        <!--            </ul>-->
        <!--          </div>-->
        <!--        </li>-->
        <!--        <li class="menu-item position-relative">-->
        <!--          <a class="item-link" href="#">-->
        <!--            <span th:remove="tag" th:text="#{navbar.blog}">BLOG</span>-->
        <!--            <i class="icon icon-caret-down"></i>-->
        <!--          </a>-->
        <!--          <div class="sub-menu">-->
        <!--            <ul class="sub-menu_list">-->
        <!--              <li><a class="sub-menu_link" href="blog-grid.html">Blog Grid</a></li>-->
        <!--              <li><a class="sub-menu_link" href="blog-list-1.html">Blog List 1</a></li>-->
        <!--              <li><a class="sub-menu_link" href="blog-list-2.html">Blog List 2</a></li>-->
        <!--              <li><a class="sub-menu_link" href="blog-detail.html">Blog Single</a></li>-->
        <!--            </ul>-->
        <!--          </div>-->
        <!--        </li>-->
      </ul>
    </nav>
  </div>

  <div class="col-xl-2 col-md-4 col-6">
    <div class="d-flex justify-content-center">
      <a class="logo-site" href="/">
        <img alt="Logo" th:src="@{/images/logo/logo.svg}">
      </a>
    </div>
  </div>

  <div class="col-xl-5 col-md-4 col-3">
    <ul class="nav-icon-list">
      <li class="d-none d-lg-flex">
        <a class="nav-icon-item link"
           th:href="${isAdmin} ? '/admin/users' : '/user/setting'">
          <i class="icon icon-user"></i>
          <span th:if="${isAdmin}">Admin</span>
        </a>
      </li>
      <li class="d-none d-md-flex">
        <a class="nav-icon-item link" data-bs-toggle="modal" href="#search">
          <i class="icon icon-magnifying-glass"></i>
        </a>
      </li>
      <li class="d-none d-sm-flex">
        <a class="nav-icon-item link" href="/wish-list"><i class="icon icon-heart"></i></a>
      </li>
      <li class="shop-cart" data-bs-target="#shoppingCart" data-bs-toggle="offcanvas">
        <a class="nav-icon-item link" data-bs-toggle="offcanvas" href="#shoppingCart">
          <i class="icon icon-shopping-cart-simple"></i>
        </a>
        <span class="count"
              th:if="${cart.items.size() > 0}"
              th:text="${cart.items.size()}"></span>
      </li>
    </ul>
  </div>
</div>
<!-- /Header -->

<!-- Mobile Menu -->
<div class="offcanvas offcanvas-start canvas-mb" id="mobileMenu" th:fragment="mobileMenu">
      <span class="icon-close-popup" data-bs-dismiss="offcanvas">
          <i class="icon-close"></i>
      </span>
  <div class="canvas-header">
    <p class="text-logo-mb">Ochaka.</p>
    <a class="tf-btn type-small style-2"
       th:href="${isAdmin} ? '/admin/users' : '/user/setting'">
      <span th:text="${isAdmin} ? 'Admin' : 'Account'"></span>
      <i class="icon icon-user"></i>
    </a>
    <span class="br-line"></span>
  </div>
  <div class="canvas-body">
    <div class="mb-content-top">
      <ul class="nav-ul-mb" id="wrapper-menu-navigation"></ul>
    </div>
    <div class="group-btn">
      <a class="tf-btn type-small style-2" href="/wish-list">
        Wishlist
        <i class="icon icon-heart"></i>
      </a>
      <div data-bs-dismiss="offcanvas">
        <a class="tf-btn type-small style-2" data-bs-toggle="modal" href="#search">
          Search
          <i class="icon icon-magnifying-glass"></i>
        </a>
      </div>
    </div>
    <div class="flow-us-wrap">
      <h5 class="title">Follow us on</h5>
      <ul class="tf-social-icon">
        <li>
          <a class="social-facebook" href="https://www.facebook.com/" target="_blank">
            <span class="icon"><i class="icon-fb"></i></span>
          </a>
        </li>
        <li>
          <a class="social-instagram" href="https://www.instagram.com/" target="_blank">
            <span class="icon"><i class="icon-instagram-logo"></i></span>
          </a>
        </li>
        <li>
          <a class="social-x" href="https://x.com/" target="_blank">
            <span class="icon"><i class="icon-x"></i></span>
          </a>
        </li>
        <li>
          <a class="social-tiktok" href="https://www.tiktok.com/" target="_blank">
            <span class="icon"><i class="icon-tiktok"></i></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="payment-wrap">
      <h5 class="title">Payment:</h5>
      <ul class="payment-method-list">
        <li><img alt="Payment" src="/images/payment/visa.png"></li>
        <li><img alt="Payment" src="/images/payment/master-card.png"></li>
        <li><img alt="Payment" src="/images/payment/amex.png"></li>
        <li><img alt="Payment" src="/images/payment/discover.png"></li>
        <li><img alt="Payment" src="/images/payment/paypal.png"></li>
      </ul>
    </div>
  </div>
  <div class="canvas-footer">
    <div class="tf-currencies">
      <select class="tf-dropdown-select style-default type-currencies">
        <option data-thumbnail="/images/country/us.png" selected>USD</option>
        <option data-thumbnail="/images/country/vie.png">VND</option>
      </select>
    </div>
    <span class="br-line"></span>
    <div class="tf-languages">
      <select class="tf-dropdown-select style-default type-languages"
              onchange="changeLanguage(this.value)">
        <option th:selected="${#locale.language == 'vi'}" value="vi">Tiếng Việt</option>
        <option th:selected="${#locale.language == 'en'}" value="en">English</option>
      </select>
    </div>
  </div>
</div>
<!-- /Mobile Menu -->

<!-- Search -->
<div class="modal modalCentered fade modal-search" id="search" th:fragment="search">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <span class="icon-close icon-close-popup" data-bs-dismiss="modal"></span>
      <div>
        <form action="/search" class="form-search style-2" method="GET">
          <fieldset>
            <input aria-required="true" class="style-stroke" name="q" placeholder="Search item"
                   required="" tabindex="0" type="text"
                   value="">
          </fieldset>
          <button class="link" type="submit"><i class="icon icon-magnifying-glass"></i></button>
        </form>
        <ul class="quick-link-list justify-content-between">
          <li th:each="category : ${categoryList}">
            <a class="link-item text-main h6 link"
               th:href="'/products/' + ${category.code}"
               th:text="${category.name}">
            </a>
          </li>
        </ul>
      </div>
      <div class="view-history-wrap" th:if="${not #lists.isEmpty(searchHistory)}">
        <div class="d-flex justify-content-between">
          <h4 class="title">History</h4>
          <form class="delete-search-form" style="display: inline;">
            <button class="title tf-btn-line has-icon none-line"
                    title="Delete history"
                    type="submit">
              <i class="icon icon-trash"></i>
            </button>
          </form>
        </div>
        <div class="view-history-list" th:each="history : ${searchHistory}">
          <a class="item text-main link h6" th:href="@{/search(q=${history})}">
            <span th:text="${history}"></span>
            <i class="icon icon-arrow-top-right"></i>
          </a>
        </div>
      </div>
      <div class="trend-product-wrap">
        <div class="heading">
          <h4 class="title flex-grow-1">Trending product</h4>
          <a class="tf-btn-line has-icon none-line fw-medium fs-18 text-normal"
             href="/products">
            View All Product
            <i class="icon icon-caret-circle-right"></i>
          </a>
        </div>
        <div class="trend-product-inner">
          <div class="trend-product-list" th:each="productGroup : ${partitionedList}">
            <div class="trend-product-item" th:each="product : ${productGroup}">
              <div class="image">
                <img alt="Product" class="lazyload"
                     th:alt="${product.name}"
                     th:data-src="@{${product.imageUrl}}"
                     th:src="@{${product.imageUrl}}">
              </div>
              <div class="content">
                <div class="text-small text-main-2 sub" th:text="${product.category}">Category</div>
                <h6 class="title">
                  <a class="link" href="/" th:text="${product.name}">
                    Product Name
                  </a>
                </h6>
                <div class="price-wrap">
                  <span class="price-old h6 fw-normal" th:text="'$' + ${product.price}">$0</span>
                  <span class="price-new h6" th:text="'$' + ${product.salePrice}">$0</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Search -->

<!-- Shopping Cart -->
<div class="offcanvas offcanvas-end popup-shopping-cart" id="shoppingCart"
     th:fragment="shoppingCart">
  <div class="tf-minicart-recommendations">
    <h4 class="title">You may also like</h4>
    <div class="wrap-recommendations">
      <div class="list-cart">
        <div class="list-cart-item" th:each="product : ${productSuggestion}">
          <div class="image">
            <img alt="Image" class="lazyload"
                 th:alt="${product.name}"
                 th:data-src="@{${product.imageUrl}}"
                 th:src="@{${product.imageUrl}}">
          </div>
          <div class="content">
            <h6 class="name">
              <a class="link text-line-clamp-1" href="/product-detail"
                 th:text="${product.name}">
                Product Name
              </a>
            </h6>
            <div class="cart-item-bot">
              <div class="price-wrap price">
                <span class="price-old h6 fw-normal" th:text="'$' + ${product.price}">$0</span>
                <span class="price-new h6" th:text="'$' + ${product.salePrice}">$0</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="canvas-wrapper">
    <div class="popup-header">
      <span class="title fw-semibold h4">Shopping cart</span>
      <span class="icon-close icon-close-popup" data-bs-dismiss="offcanvas"></span>
    </div>
    <div class="wrap">
      <div class="tf-mini-cart-wrap list-file-delete wrap-empty_text">
        <div class="tf-mini-cart-main">
          <div class="tf-mini-cart-sroll">
            <div class="tf-mini-cart-items list-empty">
              <div class="box-text_empty type-shop_cart">
                <div class="shop-empty_top">
                  <span class="icon">
                      <i class="icon-shopping-cart-simple"></i>
                  </span>
                  <h3 class="text-emp fw-normal">Your cart is empty</h3>
                  <p class="h6 text-main">Your cart is currently empty. Let us assist you in
                    finding
                    the right product</p>
                </div>
                <div class="shop-empty_bot">
                  <a class="tf-btn animate-btn" href="/products"> Shopping </a>
                  <a class="tf-btn style-line" href="/"> Back to home </a>
                </div>
              </div>
              <div class="tf-mini-cart-item file-delete" th:each="item : ${cart.items}">
                <div class="tf-mini-cart-image">
                  <img alt="img-product" class="lazyload"
                       th:alt="${item.name}"
                       th:data-src="${item.imageUrl}"
                       th:src="${item.imageUrl}">
                </div>
                <div class="tf-mini-cart-info">
                  <div class="text-small text-main-2 sub" th:text="${item.category}">
                  </div>
                  <h6 class="title">
                    <a class="link text-line-clamp-1"
                       th:href="@{'/products/' + ${item.categoryCode} + '/' + ${item.sku}}"
                       th:text="${item.name}">
                    </a>
                  </h6>
                  <div class="size">
                    <div class="text-small text-main-2 sub" th:text="'Size: ' + ${item.size}">
                    </div>
                    <div class="text-small text-main-2 sub">Color:</div>
                    <div class="dot-color" th:classappend="${item.colorCode}"></div>
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="h6 fw-semibold">
                      <span class="number" th:text="${item.quantity} + 'x'"></span>
                      <span class="price text-primary tf-mini-card-price"
                            th:text="'$' + ${item.price}"></span>
                    </div>
                    <i class="icon link icon-close remove"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tf-mini-cart-bottom box-empty_clear">
          <div class="tf-mini-cart-tool">
            <div class="tf-mini-cart-tool-btn btn-add-note">
              <div class="h6">Note</div>
              <i class="icon icon-note-pencil"></i>
            </div>
            <div class="tf-mini-cart-tool-btn btn-estimate-shipping">
              <div class="h6">Shipping</div>
              <i class="icon icon-truck"></i>
            </div>
            <div class="tf-mini-cart-tool-btn btn-add-gift">
              <div class="h6">Gift</div>
              <i class="icon icon-gift"></i>
            </div>
          </div>
          <div class="tf-mini-cart-threshold">
            <div class="text">
              <h6 class="subtotal">Subtotal (<span class="prd-count"></span> item)</h6>
              <h4 class="text-primary total-price tf-totals-total-value">$00.00</h4>
            </div>
            <div class="tf-progress-bar tf-progress-ship">
              <div class="value" data-progress="25" style="width: 0%"></div>
            </div>
            <div class="desc text-main">Add <span class="text-primary fw-bold">$15.40</span> to
              cart
              and get free shipping!
            </div>
          </div>
          <div class="tf-mini-cart-bottom-wrap">
            <div class="tf-mini-cart-view-checkout">
              <a class="tf-btn btn-white animate-btn animate-dark line" href="view-cart.html">View
                cart</a>
              <a class="tf-btn animate-btn d-inline-flex bg-dark-2 w-100 justify-content-center"
                 href="checkout.html"><span>Check
                                      out</span></a>
            </div>
            <div class="free-shipping">
              <i class="icon icon-truck"></i>
              Free shipping on all orders over $150
            </div>
          </div>
        </div>
        <div class="tf-mini-cart-tool-openable add-note">
          <div class="overlay tf-mini-cart-tool-close"></div>
          <form action="#" class="tf-mini-cart-tool-content">
            <label class="tf-mini-cart-tool-text h5 fw-semibold" for="Cart-note">
              <i class="icon icon-note-pencil"></i>
              Note
            </label>
            <textarea id="Cart-note" name="note" placeholder="Note about your order"></textarea>
            <div class="tf-cart-tool-btns">
              <button class="subscribe-button tf-btn animate-btn d-inline-flex bg-dark-2 w-100"
                      type="submit">Save
              </button>
              <div class="tf-btn btn-white animate-btn animate-dark line tf-mini-cart-tool-close">
                Cancel
              </div>
            </div>
          </form>
        </div>
        <div class="tf-mini-cart-tool-openable estimate-shipping">
          <div class="overlay tf-mini-cart-tool-close"></div>
          <form class="tf-mini-cart-tool-content" id="shipping-form">
            <div class="tf-mini-cart-tool-text h5 fw-semibold">
              <i class="icon icon-truck"></i>
              Shipping
            </div>
            <div class="field">
              <div class="tf-select">
                <select class="w-100" data-default="" id="shipping-country-form"
                        name="address[country]">
                  <option
                      data-provinces='[["Australian Capital Territory","Australian Capital Territory"],["New South Wales","New South Wales"],["Northern Territory","Northern Territory"],["Queensland","Queensland"],["South Australia","South Australia"],["Tasmania","Tasmania"],["Victoria","Victoria"],["Western Australia","Western Australia"]]'
                      value="Australia">
                    Australia
                  </option>
                  <option data-provinces="[]" value="Austria">Austria</option>
                  <option data-provinces="[]" value="Belgium">Belgium</option>
                  <option data-provinces='[["Ontario","Ontario"],["Quebec","Quebec"]]'
                          value="Canada">Canada
                  </option>
                  <option data-provinces="[]" value="Czech Republic">Czechia</option>
                  <option data-provinces="[]" value="Denmark">Denmark</option>
                  <option data-provinces="[]" value="Finland">Finland</option>
                  <option data-provinces="[]" value="France">France</option>
                  <option data-provinces="[]" value="Germany">Germany</option>
                  <option
                      data-provinces='[["Alabama","Alabama"],["California","California"],["Florida","Florida"]]'
                      selected
                      value="United States">
                    United States
                  </option>
                  <option
                      data-provinces='[["England","England"],["Scotland","Scotland"],["Wales","Wales"],["Northern Ireland","Northern Ireland"]]'
                      value="United Kingdom">
                    United Kingdom
                  </option>
                  <option data-provinces="[]" value="India">India</option>
                  <option data-provinces="[]" value="Japan">Japan</option>
                  <option data-provinces="[]" value="Mexico">Mexico</option>
                  <option data-provinces="[]" value="South Korea">South Korea</option>
                  <option data-provinces="[]" value="Spain">Spain</option>
                  <option data-provinces="[]" value="Italy">Italy</option>
                  <option
                      data-provinces='[["Ha Noi","Ha Noi"],["Da Nang","Da Nang"],["Ho Chi Minh","Ho Chi Minh"]]'
                      value="Vietnam">
                    Vietnam
                  </option>
                </select>
              </div>
            </div>
            <div class="field">
              <div class="tf-select">
                <select data-default="" id="shipping-province-form"
                        name="address[province]"></select>
              </div>
            </div>
            <div class="field">
              <input data-opend-focus id="zipcode" name="address[zip]" placeholder="Postal code"
                     type="text" value="">
            </div>
            <div class="error" id="zipcode-message" style="display: none">
              We found one shipping rate available for undefined.
            </div>
            <div class="success" id="zipcode-success" style="display: none">
              <p>We found one shipping rate available for your address:</p>
              <p class="standard">Standard at <span>$0.00</span> USD</p>
            </div>
            <div class="tf-cart-tool-btns">
              <button class="subscribe-button tf-btn animate-btn d-inline-flex bg-dark-2 w-100"
                      type="submit">Save
              </button>
              <div class="tf-btn btn-white animate-btn animate-dark line tf-mini-cart-tool-close">
                Cancel
              </div>
            </div>
          </form>
        </div>
        <div class="tf-mini-cart-tool-openable add-gift">
          <div class="overlay tf-mini-cart-tool-close"></div>
          <form action="#" class="tf-mini-cart-tool-content">
            <div class="tf-mini-cart-tool-text h5 fw-semibold">
              <i class="icon icon-gift"></i>
              Gift
            </div>
            <div class="wrap">
              <i class="icon icon-gift-2"></i>
              <h3>Only <span class="text-primary">$2</span> for a gift box</h3>
            </div>
            <div class="tf-cart-tool-btns">
              <button class="subscribe-button tf-btn animate-btn d-inline-flex bg-dark-2 w-100"
                      type="submit">
                Add a gift
              </button>
              <div class="tf-btn btn-white animate-btn animate-dark line tf-mini-cart-tool-close">
                Cancel
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Shopping Cart -->
