<!-- Header -->
<div class="row align-items-center" th:fragment="header">
  <div class="col-md-4 col-3 d-xl-none">
    <a class="btn-mobile-menu" data-bs-toggle="offcanvas" href="#mobileMenu">
      <span></span>
    </a>
  </div>

  <div class="col-xl-5 d-none d-xl-block">
    <nav class="box-navigation">
      <ul class="box-nav-menu justify-content-start">
        <li class="menu-item position-relative">
          <a class="item-link" href="#">
            <span th:remove="tag" th:text="#{navbar.products}">PRODUCTS</span>
            <i class="icon icon-caret-down"></i>
          </a>
          <div class="sub-menu">
            <ul class="sub-menu_list">
              <li><a class="sub-menu_link" href="/products">Tất Cả Sản Phẩm</a></li>
              <li th:each="category : ${categoryList}">
                <a class="sub-menu_link"
                   th:href="'/products/' + ${category.code}"
                   th:text="${category.name}">
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!--        <li class="menu-item">-->
        <!--          <a class="item-link" href="#">-->
        <!--            <span th:remove="tag" th:text="#{navbar.collections}">COLLECTIONS</span>-->
        <!--            <i class="icon icon-caret-down"></i>-->
        <!--          </a>-->
        <!--          <div class="sub-menu mega-menu mega-home">-->
        <!--            <div class="container">-->
        <!--              <div class="row-demo">-->
        <!--                <div class="demo-item" th:each="collection : ${collectionList}">-->
        <!--                  <a class="demo-img" th:href="@{${collection.url}}">-->
        <!--                    <img alt="Demo"-->
        <!--                         class="lazyload"-->
        <!--                         th:alt="${collection.name}"-->
        <!--                         th:data-src="@{${collection.imageUrl}}"-->
        <!--                         th:src="@{${collection.imageUrl}}">-->
        <!--                    <div class="demo-label" th:if="${collection.isNew}">-->
        <!--                      <span>New</span>-->
        <!--                    </div>-->
        <!--                  </a>-->
        <!--                  <a class="demo-name" th:href="@{${collection.url}}" th:text="${collection.name}">Collection-->
        <!--                    Name</a>-->
        <!--                </div>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </li>-->
        <!--        <li class="menu-item">-->
        <!--          <a class="item-link" href="#">-->
        <!--            <span th:remove="tag" th:text="#{navbar.shop}">SHOP</span>-->
        <!--            <i class="icon icon-caret-down"></i>-->
        <!--          </a>-->
        <!--          <div class="sub-menu mega-menu">-->
        <!--            <div class="container">-->
        <!--              <div class="row">-->
        <!--                <div class="col-2">-->
        <!--                  <div class="mega-menu-item">-->
        <!--                    <h4 class="menu-heading">Shop Layout</h4>-->
        <!--                    <ul class="sub-menu_list">-->
        <!--                      <li><a class="sub-menu_link" href="shop-default.html">Default Grid</a>-->
        <!--                      </li>-->
        <!--                      <li><a class="sub-menu_link" href="shop-default-list.html">Default-->
        <!--                        List</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="shop-2-columns.html">Shop 2-->
        <!--                        Columns</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="shop-3-columns.html">Shop 3-->
        <!--                        Columns</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="shop-4-columns.html">Shop 4-->
        <!--                        Columns</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="shop-5-columns.html">Shop 5-->
        <!--                        Columns</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="shop-6-columns.html">Shop 6-->
        <!--                        Columns</a></li>-->
        <!--                    </ul>-->
        <!--                  </div>-->
        <!--                </div>-->
        <!--                <div class="col-2">-->
        <!--                  <div class="mega-menu-item">-->
        <!--                    <h4 class="menu-heading">Shop Features</h4>-->
        <!--                    <ul class="sub-menu_list">-->
        <!--                      <li><a class="sub-menu_link" href="shop-full-width-list.html">Full Width-->
        <!--                        List</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="shop-full-width-grid.html">Full Width-->
        <!--                        Grid</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="shop-left-sidebar.html">Left-->
        <!--                        Sidebar</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="shop-right-sidebar.html">Right-->
        <!--                        Sidebar</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="shop-filter-dropdown.html">Filter-->
        <!--                        Dropdown</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="shop-filter-drawer.html">Filter-->
        <!--                        Drawer</a></li>-->
        <!--                    </ul>-->
        <!--                  </div>-->
        <!--                </div>-->
        <!--                <div class="col-2">-->
        <!--                  <div class="mega-menu-item">-->
        <!--                    <h4 class="menu-heading">Shop Hover</h4>-->
        <!--                    <ul class="sub-menu_list">-->
        <!--                      <li><a class="sub-menu_link" href="shop-hover-01.html">Hover Style-->
        <!--                        01</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="shop-hover-02.html">Hover Style-->
        <!--                        02</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="shop-hover-03.html">Hover Style-->
        <!--                        03</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="shop-hover-04.html">Hover Style-->
        <!--                        04</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="shop-hover-05.html">Hover Style-->
        <!--                        05</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="shop-hover-06.html">Hover Style-->
        <!--                        06</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="shop-hover-07.html">Hover Style-->
        <!--                        07</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="shop-hover-08.html">Hover Style-->
        <!--                        08</a></li>-->
        <!--                    </ul>-->
        <!--                  </div>-->
        <!--                </div>-->
        <!--                <div class="col-6">-->
        <!--                  <ul class="list-hor">-->
        <!--                    <li class="wg-cls hover-img">-->
        <!--                      <a class="image img-style" href="shop-default.html">-->
        <!--                        <img alt="Collection"-->
        <!--                             class="lazyload" data-src="/images/collections/cls-header-1.jpg"-->
        <!--                             src="/images/collections/cls-header-1.jpg">-->
        <!--                      </a>-->
        <!--                      <div class="cls-content">-->
        <!--                        <h4 class="tag_cls">Men</h4>-->
        <!--                        <span class="br-line type-vertical"></span>-->
        <!--                        <a class="tf-btn-line" href="shop-default.html"> Shop now </a>-->
        <!--                      </div>-->
        <!--                    </li>-->
        <!--                    <li class="wg-cls hover-img">-->
        <!--                      <a class="image img-style" href="shop-default.html">-->
        <!--                        <img alt="Collection"-->
        <!--                             class="lazyload" data-src="/images/collections/cls-header-2.jpg"-->
        <!--                             src="/images/collections/cls-header-2.jpg">-->
        <!--                      </a>-->
        <!--                      <div class="cls-content">-->
        <!--                        <h4 class="tag_cls">Women</h4>-->
        <!--                        <span class="br-line type-vertical"></span>-->
        <!--                        <a class="tf-btn-line" href="shop-default.html"> Shop now </a>-->
        <!--                      </div>-->
        <!--                    </li>-->
        <!--                  </ul>-->
        <!--                </div>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </li>-->
        <!--        <li class="menu-item">-->
        <!--          <a class="item-link" href="#">-->
        <!--            <span th:remove="tag" th:text="#{navbar.product}">PRODUCT</span>-->
        <!--            <i class="icon icon-caret-down"></i>-->
        <!--          </a>-->
        <!--          <div class="sub-menu mega-menu">-->
        <!--            <div class="container">-->
        <!--              <div class="row">-->
        <!--                <div class="col-2">-->
        <!--                  <div class="mega-menu-item">-->
        <!--                    <h4 class="menu-heading">Product Layout</h4>-->
        <!--                    <ul class="sub-menu_list">-->
        <!--                      <li><a class="sub-menu_link" href="product-detail.html">Product-->
        <!--                        Detail</a></li>-->
        <!--                      <li>-->
        <!--                        <a class="sub-menu_link" href="product-left-thumbnail.html">Product-->
        <!--                          Left Thumbnail</a>-->
        <!--                      </li>-->
        <!--                      <li>-->
        <!--                        <a class="sub-menu_link" href="product-right-thumbnail.html">Product-->
        <!--                          Right-->
        <!--                          Thumbnail</a>-->
        <!--                      </li>-->
        <!--                      <li>-->
        <!--                        <a class="sub-menu_link" href="product-bottom-thumbnail.html">Product-->
        <!--                          Bottom-->
        <!--                          Thumbnail</a>-->
        <!--                      </li>-->
        <!--                      <li><a class="sub-menu_link" href="product-grid.html">Product Grid</a>-->
        <!--                      </li>-->
        <!--                      <li><a class="sub-menu_link" href="product-grid-2.html">Product Grid-->
        <!--                        2</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="product-stacked.html">Product-->
        <!--                        Stacked</a></li>-->
        <!--                    </ul>-->
        <!--                  </div>-->
        <!--                </div>-->
        <!--                <div class="col-2">-->
        <!--                  <div class="mega-menu-item">-->
        <!--                    <h4 class="menu-heading">Product Details</h4>-->
        <!--                    &lt;!&ndash; prettier-ignore &ndash;&gt;-->
        <!--                    <ul class="sub-menu_list">-->
        <!--                      <li><a class="sub-menu_link" href="product-information.html">Product-->
        <!--                        Information</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="product-group.html">Product Group</a>-->
        <!--                      </li>-->
        <!--                      <li><a class="sub-menu_link" href="product-options-customizer.html">Product-->
        <!--                        Option-->
        <!--                        Customize</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="product-available.html">Product-->
        <!--                        Avaialable</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="product-video.html">Product Video</a>-->
        <!--                      </li>-->
        <!--                      <li><a class="sub-menu_link" href="product-buyX-getY.html">Product Buy X-->
        <!--                        Get Y</a></li>-->
        <!--                      <li><a class="sub-menu_link" href="product-buy-the-look.html">Product-->
        <!--                        Buy The Look</a>-->
        <!--                      </li>-->
        <!--                      <li><a class="sub-menu_link" href="product-out-of-stock.html">Product-->
        <!--                        Out Of Stock</a>-->
        <!--                      </li>-->
        <!--                    </ul>-->
        <!--                  </div>-->
        <!--                </div>-->
        <!--                <div class="col-2">-->
        <!--                  <div class="mega-menu-item">-->
        <!--                    <h4 class="menu-heading">Product Feature</h4>-->
        <!--                    <ul class="sub-menu_list">-->
        <!--                      <li>-->
        <!--                        <a class="sub-menu_link"-->
        <!--                           href="product-frequently-bought-together.html">Buy-->
        <!--                          Together</a>-->
        <!--                      </li>-->
        <!--                      <li>-->
        <!--                        <a class="sub-menu_link" href="product-often-purchased-together.html">Often-->
        <!--                          Purchased-->
        <!--                          Together</a>-->
        <!--                      </li>-->
        <!--                      <li>-->
        <!--                        <a class="sub-menu_link" href="product-countdown-timer.html">Countdown-->
        <!--                          Timer</a>-->
        <!--                      </li>-->
        <!--                      <li>-->
        <!--                        <a class="sub-menu_link" href="product-volume-discount.html">Volume-->
        <!--                          Discount</a>-->
        <!--                      </li>-->
        <!--                      <li>-->
        <!--                        <a class="sub-menu_link"-->
        <!--                           href="product-volume-discount-thumbnail.html">Volume Discount-->
        <!--                          Thumbnail</a>-->
        <!--                      </li>-->
        <!--                      <li>-->
        <!--                        <a class="sub-menu_link" href="product-swatch-dropdown.html">Swatch-->
        <!--                          Dropdown</a>-->
        <!--                      </li>-->
        <!--                      <li>-->
        <!--                        <a class="sub-menu_link" href="product-swatch-dropdown-color.html">Swatch-->
        <!--                          Dropdown-->
        <!--                          Color</a>-->
        <!--                      </li>-->
        <!--                      <li><a class="sub-menu_link" href="product-swatch-image.html">Swatch-->
        <!--                        Image</a></li>-->
        <!--                      <li>-->
        <!--                        <a class="sub-menu_link" href="product-swatch-image-square.html">Swatch-->
        <!--                          Image-->
        <!--                          Retangle</a>-->
        <!--                      </li>-->
        <!--                    </ul>-->
        <!--                  </div>-->
        <!--                </div>-->
        <!--                <div class="col-2">-->
        <!--                  <div class="mega-menu-item">-->
        <!--                    <h4 class="menu-heading">Product Description</h4>-->
        <!--                    <ul class="sub-menu_list">-->
        <!--                      <li>-->
        <!--                        <a class="sub-menu_link" href="product-description-accordion.html">Product-->
        <!--                          Description-->
        <!--                          Accordion</a>-->
        <!--                      </li>-->
        <!--                      <li>-->
        <!--                        <a class="sub-menu_link" href="product-description-list.html">Product-->
        <!--                          Description-->
        <!--                          List</a>-->
        <!--                      </li>-->
        <!--                      <li>-->
        <!--                        <a class="sub-menu_link" href="product-description-vertical.html">Product-->
        <!--                          Description-->
        <!--                          Vertical</a>-->
        <!--                      </li>-->
        <!--                    </ul>-->
        <!--                  </div>-->
        <!--                </div>-->
        <!--                <div class="col-4">-->
        <!--                  <div class="mega-menu-item mn-none">-->
        <!--                    <h4 class="menu-heading">Recent Products</h4>-->
        <!--                    <ul class="list-ver">-->
        <!--                      <li class="prd-recent hover-img">-->
        <!--                        <a class="image img-style" href="product-detail.html">-->
        <!--                          <img alt="Image"-->
        <!--                               class="lazyload"-->
        <!--                               data-src="/images/section/recent-1.jpg"-->
        <!--                               src="/images/section/recent-1.jpg">-->
        <!--                        </a>-->
        <!--                        <div class="content">-->
        <!--                          <span class="badge-tag">T-shirt</span>-->
        <!--                          <a class="name-prd h6 fw-medium link" href="product-detail.html">-->
        <!--                            Women's Short Sleeve V-Neck Activewear T-Shirt Dry-Fit Wicking-->
        <!--                            Yoga Top-->
        <!--                          </a>-->
        <!--                          <span class="price-wrap h6 fw-semibold text-black"> $69,99 </span>-->
        <!--                        </div>-->
        <!--                      </li>-->
        <!--                      <li class="br-line"></li>-->
        <!--                      <li class="prd-recent hover-img">-->
        <!--                        <a class="image img-style" href="product-detail.html">-->
        <!--                          <img alt="Image"-->
        <!--                               class="lazyload"-->
        <!--                               data-src="/images/section/recent-2.jpg"-->
        <!--                               src="/images/section/recent-2.jpg">-->
        <!--                        </a>-->
        <!--                        <div class="content">-->
        <!--                          <span class="badge-tag">T-shirt</span>-->
        <!--                          <a class="name-prd h6 fw-medium link" href="product-detail.html">-->
        <!--                            Women's Short Sleeve V-Neck Activewear T-Shirt Dry-Fit Wicking-->
        <!--                            Yoga Top-->
        <!--                          </a>-->
        <!--                          <span class="price-wrap h6 fw-semibold text-black"> $69,99 </span>-->
        <!--                        </div>-->
        <!--                      </li>-->
        <!--                    </ul>-->
        <!--                  </div>-->
        <!--                </div>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </li>-->
        <!--        <li class="menu-item position-relative">-->
        <!--          <a class="item-link" href="#">-->
        <!--            <span th:remove="tag" th:text="#{navbar.pages}">PAGE</span>-->
        <!--            <i class="icon icon-caret-down"></i>-->
        <!--          </a>-->
        <!--          <div class="sub-menu">-->
        <!--            <ul class="sub-menu_list">-->
        <!--              <li><a class="sub-menu_link" href="about-us.html">About us</a></li>-->
        <!--              <li><a class="sub-menu_link" href="store-list.html">Store List</a></li>-->
        <!--              <li><a class="sub-menu_link" href="404.html">404</a></li>-->
        <!--              <li><a class="sub-menu_link" href="faq.html">FAQs</a></li>-->
        <!--              <li><a class="sub-menu_link" href="track-order.html">Order Tracking</a></li>-->
        <!--              <li><a class="sub-menu_link" href="invoice.html">Invoice</a></li>-->
        <!--              <li><a class="sub-menu_link" href="account-page.html">My account</a></li>-->
        <!--            </ul>-->
        <!--          </div>-->
        <!--        </li>-->
        <!--        <li class="menu-item position-relative">-->
        <!--          <a class="item-link" href="#">-->
        <!--            <span th:remove="tag" th:text="#{navbar.blog}">BLOG</span>-->
        <!--            <i class="icon icon-caret-down"></i>-->
        <!--          </a>-->
        <!--          <div class="sub-menu">-->
        <!--            <ul class="sub-menu_list">-->
        <!--              <li><a class="sub-menu_link" href="blog-grid.html">Blog Grid</a></li>-->
        <!--              <li><a class="sub-menu_link" href="blog-list-1.html">Blog List 1</a></li>-->
        <!--              <li><a class="sub-menu_link" href="blog-list-2.html">Blog List 2</a></li>-->
        <!--              <li><a class="sub-menu_link" href="blog-detail.html">Blog Single</a></li>-->
        <!--            </ul>-->
        <!--          </div>-->
        <!--        </li>-->
      </ul>
    </nav>
  </div>

  <div class="col-xl-2 col-md-4 col-6">
    <div class="d-flex justify-content-center">
      <a class="logo-site" href="/">
        <img alt="Logo" th:src="@{/images/logo/logo.svg}">
      </a>
    </div>
  </div>

  <div class="col-xl-5 col-md-4 col-3">
    <ul class="nav-icon-list">
      <li class="d-none d-lg-flex">
        <a class="nav-icon-item link"
           th:href="${isAdmin} ? '/admin/users' : '/user/setting'">
          <i class="icon icon-user"></i>
          <span th:if="${isAdmin}">Admin</span>
        </a>
      </li>
      <li class="d-none d-md-flex">
        <a class="nav-icon-item link" data-bs-toggle="modal" href="#search">
          <i class="icon icon-magnifying-glass"></i>
        </a>
      </li>
      <li class="d-none d-sm-flex">
        <a class="nav-icon-item link" href="/wish-list"><i class="icon icon-heart"></i></a>
      </li>
      <li class="shop-cart" data-bs-target="#shoppingCart" data-bs-toggle="offcanvas">
        <a class="nav-icon-item link" data-bs-toggle="offcanvas" href="#shoppingCart">
          <i class="icon icon-shopping-cart-simple"></i>
        </a>
        <span class="count"
              th:text="${cart == null} ? '' : ${cart.items.size()}"></span>
      </li>
    </ul>
  </div>
</div>
<!-- /Header -->

<!-- Mobile Menu -->
<div class="offcanvas offcanvas-start canvas-mb" id="mobileMenu" th:fragment="mobileMenu">
      <span class="icon-close-popup" data-bs-dismiss="offcanvas">
          <i class="icon-close"></i>
      </span>
  <div class="canvas-header">
    <p class="text-logo-mb">Ochaka.</p>
    <a class="tf-btn type-small style-2"
       th:href="${isAdmin} ? '/admin/users' : '/user/setting'">
      <span th:text="${isAdmin} ? 'Admin' : 'Account'"></span>
      <i class="icon icon-user"></i>
    </a>
    <span class="br-line"></span>
  </div>
  <div class="canvas-body">
    <div class="mb-content-top">
      <ul class="nav-ul-mb" id="wrapper-menu-navigation"></ul>
    </div>
    <div class="group-btn">
      <a class="tf-btn type-small style-2" href="/wish-list">
        Wishlist
        <i class="icon icon-heart"></i>
      </a>
      <div data-bs-dismiss="offcanvas">
        <a class="tf-btn type-small style-2" data-bs-toggle="modal" href="#search">
          Search
          <i class="icon icon-magnifying-glass"></i>
        </a>
      </div>
    </div>
    <div class="flow-us-wrap">
      <h5 class="title">Follow us on</h5>
      <ul class="tf-social-icon">
        <li>
          <a class="social-facebook" href="https://www.facebook.com/" target="_blank">
            <span class="icon"><i class="icon-fb"></i></span>
          </a>
        </li>
        <li>
          <a class="social-instagram" href="https://www.instagram.com/" target="_blank">
            <span class="icon"><i class="icon-instagram-logo"></i></span>
          </a>
        </li>
        <li>
          <a class="social-x" href="https://x.com/" target="_blank">
            <span class="icon"><i class="icon-x"></i></span>
          </a>
        </li>
        <li>
          <a class="social-tiktok" href="https://www.tiktok.com/" target="_blank">
            <span class="icon"><i class="icon-tiktok"></i></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="payment-wrap">
      <h5 class="title">Payment:</h5>
      <ul class="payment-method-list">
        <li><img alt="Payment" src="/images/payment/visa.png"></li>
        <li><img alt="Payment" src="/images/payment/master-card.png"></li>
        <li><img alt="Payment" src="/images/payment/amex.png"></li>
        <li><img alt="Payment" src="/images/payment/discover.png"></li>
        <li><img alt="Payment" src="/images/payment/paypal.png"></li>
      </ul>
    </div>
  </div>
  <div class="canvas-footer">
    <div class="tf-currencies">
      <select class="tf-dropdown-select style-default type-currencies">
        <option data-thumbnail="/images/country/us.png" selected>USD</option>
        <option data-thumbnail="/images/country/vie.png">VND</option>
      </select>
    </div>
    <span class="br-line"></span>
    <div class="tf-languages">
      <select class="tf-dropdown-select style-default type-languages"
              onchange="changeLanguage(this.value)">
        <option th:selected="${#locale.language == 'vi'}" value="vi">Tiếng Việt</option>
        <option th:selected="${#locale.language == 'en'}" value="en">English</option>
      </select>
    </div>
  </div>
</div>
<!-- /Mobile Menu -->

<!-- Search -->
<div class="modal modalCentered fade modal-search" id="search" th:fragment="search">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <span class="icon-close icon-close-popup" data-bs-dismiss="modal"></span>
      <div>
        <form action="/search" class="form-search style-2" method="GET">
          <fieldset>
            <input aria-required="true" class="style-stroke" name="q" placeholder="Search item"
                   required="" tabindex="0" type="text"
                   value="">
          </fieldset>
          <button class="link" type="submit"><i class="icon icon-magnifying-glass"></i></button>
        </form>
        <ul class="quick-link-list justify-content-between">
          <li th:each="category : ${categoryList}">
            <a class="link-item text-main h6 link"
               th:href="'/products/' + ${category.code}"
               th:text="${category.name}">
            </a>
          </li>
        </ul>
      </div>
      <div class="view-history-wrap" th:if="${not #lists.isEmpty(searchHistory)}">
        <div class="d-flex justify-content-between">
          <h4 class="title">History</h4>
          <form class="delete-search-form" style="display: inline;">
            <button class="title tf-btn-line has-icon none-line"
                    title="Delete history"
                    type="submit">
              <i class="icon icon-trash"></i>
            </button>
          </form>
        </div>
        <div class="view-history-list" th:each="history : ${searchHistory}">
          <a class="item text-main link h6" th:href="@{/search(q=${history})}">
            <span th:text="${history}"></span>
            <i class="icon icon-arrow-top-right"></i>
          </a>
        </div>
      </div>
      <div class="trend-product-wrap">
        <div class="heading">
          <h4 class="title flex-grow-1">Trending product</h4>
          <a class="tf-btn-line has-icon none-line fw-medium fs-18 text-normal"
             href="/products">
            View All Product
            <i class="icon icon-caret-circle-right"></i>
          </a>
        </div>
        <div class="trend-product-inner">
          <div class="trend-product-list" th:each="productGroup : ${partitionedList}">
            <div class="trend-product-item" th:each="product : ${productGroup}">
              <div class="image">
                <img alt="Product" class="lazyload"
                     th:alt="${product.name}"
                     th:data-src="@{${product.imageUrl}}"
                     th:src="@{${product.imageUrl}}">
              </div>
              <div class="content">
                <div class="text-small text-main-2 sub" th:text="${product.category}">Category</div>
                <h6 class="title">
                  <a class="link" href="/" th:text="${product.name}">
                    Product Name
                  </a>
                </h6>
                <div class="price-wrap">
                  <span class="price-old h6 fw-normal" th:text="'$' + ${product.price}">$0</span>
                  <span class="price-new h6" th:text="'$' + ${product.salePrice}">$0</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Search -->
