<!-- Shopping Cart -->
<div class="offcanvas offcanvas-end popup-shopping-cart" id="shoppingCart"
     th:fragment="shoppingCart">
  <div class="tf-minicart-recommendations">
    <h4 class="title">You may also like</h4>
    <div class="wrap-recommendations">
      <div class="list-cart">
        <div class="list-cart-item" th:each="product : ${productSuggestion}">
          <div class="image">
            <img alt="Image" class="lazyload"
                 th:alt="${product.name}"
                 th:data-src="@{${product.imageUrl}}"
                 th:src="@{${product.imageUrl}}">
          </div>
          <div class="content">
            <h6 class="name">
              <a class="link text-line-clamp-1" href="/product-detail"
                 th:text="${product.name}">
                Product Name
              </a>
            </h6>
            <div class="cart-item-bot">
              <div class="price-wrap price">
                <span class="price-old h6 fw-normal" th:text="'$' + ${product.price}">$0</span>
                <span class="price-new h6" th:text="'$' + ${product.salePrice}">$0</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="canvas-wrapper">
    <div class="popup-header">
      <span class="title fw-semibold h4">Shopping cart</span>
      <span class="icon-close icon-close-popup" data-bs-dismiss="offcanvas"></span>
    </div>
    <div class="wrap">
      <div class="tf-mini-cart-wrap list-file-delete wrap-empty_text">
        <div class="tf-mini-cart-main">
          <div class="tf-mini-cart-sroll">
            <div class="tf-mini-cart-items list-empty">
              <div class="box-text_empty type-shop_cart">
                <div class="shop-empty_top">
                  <span class="icon">
                      <i class="icon-shopping-cart-simple"></i>
                  </span>
                  <h3 class="text-emp fw-normal">Your cart is empty</h3>
                  <p class="h6 text-main">Your cart is currently empty. Let us assist you in
                    finding
                    the right product</p>
                </div>
                <div class="shop-empty_bot">
                  <a class="tf-btn animate-btn" href="/products"> Shopping </a>
                  <a class="tf-btn style-line" href="/"> Back to home </a>
                </div>
              </div>
              <div class="tf-mini-cart-item file-delete"
                   th:each="item : ${cart.items}"
                   th:attr="data-id=${item.id}">
                <div class="tf-mini-cart-image">
                  <img alt="img-product" class="lazyload"
                       th:alt="${item.productName}"
                       th:data-src="${item.imageUrl}"
                       th:src="${item.imageUrl}">
                </div>
                <div class="tf-mini-cart-info">
                  <div class="text-small text-main-2 sub" th:text="${item.categoryName}">
                  </div>
                  <h6 class="title">
                    <a class="link text-line-clamp-1"
                       th:href="@{'/products/' + ${item.categoryCode} + '/' + ${item.sku}}"
                       th:text="${item.productName}">
                    </a>
                  </h6>
                  <div class="size">
                    <div class="text-small text-main-2 sub" th:text="'Size: ' + ${item.sizeName}">
                    </div>
                    <div class="text-small text-main-2 sub">Color:</div>
                    <div class="dot-color"
                         th:style="'background-color: ' + ${item.colorCode}"></div>
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="h6 fw-semibold">
                      <span class="number" th:text="${item.quantity} + 'x'"></span>
                      <span class="price text-primary tf-mini-card-price"
                            th:text="${#numbers.formatInteger(item.price, 3, 'POINT')} + ' ₫'"></span>
                    </div>
                    <i class="icon link icon-close remove"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tf-mini-cart-bottom box-empty_clear">
          <div class="tf-mini-cart-tool">
            <div class="tf-mini-cart-tool-btn btn-add-note">
              <div class="h6">Note</div>
              <i class="icon icon-note-pencil"></i>
            </div>
            <div class="tf-mini-cart-tool-btn btn-estimate-shipping">
              <div class="h6">Shipping</div>
              <i class="icon icon-truck"></i>
            </div>
            <div class="tf-mini-cart-tool-btn btn-add-gift">
              <div class="h6">Gift</div>
              <i class="icon icon-gift"></i>
            </div>
          </div>
          <div class="tf-mini-cart-threshold">
            <div class="text">
              <h6 class="subtotal">Subtotal (<span class="prd-count"></span> item)</h6>
              <h4 class="text-primary total-price tf-totals-total-value">$00.00</h4>
            </div>
            <div class="tf-progress-bar tf-progress-ship">
              <div class="value" data-progress="25" style="width: 0%"></div>
            </div>
            <div class="desc text-main">Add <span class="text-primary fw-bold">10.000.000</span> to
              cart
              and get free shipping!
            </div>
          </div>
          <div class="tf-mini-cart-bottom-wrap">
            <div class="tf-mini-cart-view-checkout">
              <a class="tf-btn btn-white animate-btn animate-dark line" href="view-cart.html">View
                cart</a>
              <a class="tf-btn animate-btn d-inline-flex bg-dark-2 w-100 justify-content-center"
                 href="checkout.html"><span>Check
                                      out</span></a>
            </div>
            <div class="free-shipping">
              <i class="icon icon-truck"></i>
              Free shipping on all orders over $150
            </div>
          </div>
        </div>
        <div class="tf-mini-cart-tool-openable add-note">
          <div class="overlay tf-mini-cart-tool-close"></div>
          <form action="#" class="tf-mini-cart-tool-content">
            <label class="tf-mini-cart-tool-text h5 fw-semibold" for="Cart-note">
              <i class="icon icon-note-pencil"></i>
              Note
            </label>
            <textarea id="Cart-note" name="note" placeholder="Note about your order"></textarea>
            <div class="tf-cart-tool-btns">
              <button class="subscribe-button tf-btn animate-btn d-inline-flex bg-dark-2 w-100"
                      type="submit">Save
              </button>
              <div class="tf-btn btn-white animate-btn animate-dark line tf-mini-cart-tool-close">
                Cancel
              </div>
            </div>
          </form>
        </div>
        <div class="tf-mini-cart-tool-openable estimate-shipping">
          <div class="overlay tf-mini-cart-tool-close"></div>
          <form class="tf-mini-cart-tool-content" id="shipping-form">
            <div class="tf-mini-cart-tool-text h5 fw-semibold">
              <i class="icon icon-truck"></i>
              Shipping
            </div>
            <div class="field">
              <div class="tf-select">
                <select class="w-100" data-default="" id="shipping-country-form"
                        name="address[country]">
                  <option
                      data-provinces='[["Australian Capital Territory","Australian Capital Territory"],["New South Wales","New South Wales"],["Northern Territory","Northern Territory"],["Queensland","Queensland"],["South Australia","South Australia"],["Tasmania","Tasmania"],["Victoria","Victoria"],["Western Australia","Western Australia"]]'
                      value="Australia">
                    Australia
                  </option>
                  <option data-provinces="[]" value="Austria">Austria</option>
                  <option data-provinces="[]" value="Belgium">Belgium</option>
                  <option data-provinces='[["Ontario","Ontario"],["Quebec","Quebec"]]'
                          value="Canada">Canada
                  </option>
                  <option data-provinces="[]" value="Czech Republic">Czechia</option>
                  <option data-provinces="[]" value="Denmark">Denmark</option>
                  <option data-provinces="[]" value="Finland">Finland</option>
                  <option data-provinces="[]" value="France">France</option>
                  <option data-provinces="[]" value="Germany">Germany</option>
                  <option
                      data-provinces='[["Alabama","Alabama"],["California","California"],["Florida","Florida"]]'
                      selected
                      value="United States">
                    United States
                  </option>
                  <option
                      data-provinces='[["England","England"],["Scotland","Scotland"],["Wales","Wales"],["Northern Ireland","Northern Ireland"]]'
                      value="United Kingdom">
                    United Kingdom
                  </option>
                  <option data-provinces="[]" value="India">India</option>
                  <option data-provinces="[]" value="Japan">Japan</option>
                  <option data-provinces="[]" value="Mexico">Mexico</option>
                  <option data-provinces="[]" value="South Korea">South Korea</option>
                  <option data-provinces="[]" value="Spain">Spain</option>
                  <option data-provinces="[]" value="Italy">Italy</option>
                  <option
                      data-provinces='[["Ha Noi","Ha Noi"],["Da Nang","Da Nang"],["Ho Chi Minh","Ho Chi Minh"]]'
                      value="Vietnam">
                    Vietnam
                  </option>
                </select>
              </div>
            </div>
            <div class="field">
              <div class="tf-select">
                <select data-default="" id="shipping-province-form"
                        name="address[province]"></select>
              </div>
            </div>
            <div class="field">
              <input data-opend-focus id="zipcode" name="address[zip]" placeholder="Postal code"
                     type="text" value="">
            </div>
            <div class="error" id="zipcode-message" style="display: none">
              We found one shipping rate available for undefined.
            </div>
            <div class="success" id="zipcode-success" style="display: none">
              <p>We found one shipping rate available for your address:</p>
              <p class="standard">Standard at <span>$0.00</span> USD</p>
            </div>
            <div class="tf-cart-tool-btns">
              <button class="subscribe-button tf-btn animate-btn d-inline-flex bg-dark-2 w-100"
                      type="submit">Save
              </button>
              <div class="tf-btn btn-white animate-btn animate-dark line tf-mini-cart-tool-close">
                Cancel
              </div>
            </div>
          </form>
        </div>
        <div class="tf-mini-cart-tool-openable add-gift">
          <div class="overlay tf-mini-cart-tool-close"></div>
          <form action="#" class="tf-mini-cart-tool-content">
            <div class="tf-mini-cart-tool-text h5 fw-semibold">
              <i class="icon icon-gift"></i>
              Gift
            </div>
            <div class="wrap">
              <i class="icon icon-gift-2"></i>
              <h3>Only <span class="text-primary">$2</span> for a gift box</h3>
            </div>
            <div class="tf-cart-tool-btns">
              <button class="subscribe-button tf-btn animate-btn d-inline-flex bg-dark-2 w-100"
                      type="submit">
                Add a gift
              </button>
              <div class="tf-btn btn-white animate-btn animate-dark line tf-mini-cart-tool-close">
                Cancel
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Shopping Cart -->
