<!-- Toolbar -->
<div class="tf-toolbar-bottom" th:fragment="toolbar">
  <div class="toolbar-item">
    <a href="/products">
                <span class="toolbar-icon">
                    <i class="icon icon-storefront"></i>
                </span>
      <span class="toolbar-label">Shop</span>
    </a>
  </div>
  <div class="toolbar-item">
    <a data-bs-toggle="modal" href="#search">
                <span class="toolbar-icon">
                    <i class="icon icon-magnifying-glass"></i>
                </span>
      <span class="toolbar-label">Search</span>
    </a>
  </div>
  <div class="toolbar-item">
    <a class="toolbar-item" th:href="${isAdmin} ? '/admin/users' : '/user/setting'">
      <span class="toolbar-icon">
        <i class="icon icon-user"></i>
      </span>
      <span class="toolbar-label" th:text="${isAdmin} ? 'Admin' : 'Account'">Account</span>
    </a>
  </div>
  <div class="toolbar-item">
    <a href="wishlist.html">
                <span class="toolbar-icon">
                    <i class="icon icon-heart"></i>
                    <span class="toolbar-count">7</span>
                </span>
      <span class="toolbar-label">Wishlist</span>
    </a>
  </div>
  <div class="toolbar-item">
    <a href="view-cart.html">
                <span class="toolbar-icon">
                    <i class="icon icon-shopping-cart-simple"></i>
                    <span class="toolbar-count"
                          th:if="${cart.items.size() > 0}"
                          th:text="${cart.items.size()}"></span>
                </span>
      <span class="toolbar-label">Cart</span>
    </a>
  </div>
</div>
<!-- /Toolbar -->
