<!DOCTYPE html>

<!--[if IE 8]>
<html class="ie"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xml:lang="en-US" lang="en-US">
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en-US"
      xml:lang="en-US"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>Ochaka - Multipurpose eCommerce HTML Template</title>
  <meta content="themesflat.com" name="author">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
  <meta
      content="Themesflat Ochaka - A modern and elegant Multipurpose eCommerce HTML Template, perfect for online stores selling rings, necklaces, watches, and other accessories. SEO-optimized, fast-loading, and fully customizable."
      name="description">

  <!-- font -->
  <link rel="stylesheet" th:href="@{/fonts/fonts.css}">
  <link rel="stylesheet" th:href="@{/icon/icomoon/style.css}">
  <!-- css -->
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/swiper-bundle.min.css}">
  <link rel="stylesheet" th:href="@{/css/animate.css}">
  <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/css/fragments/home.css}" type="text/css">

  <!-- Favicon and Touch Icons  -->
  <link rel="shortcut icon" th:href="@{/images/logo/favicon.svg}">
  <link rel="apple-touch-icon-precomposed" th:href="@{/images/logo/favicon.svg}">
</head>

<body>
<!-- Scroll Top and preload -->
<div th:replace="~{view/shop/fragments/goTop :: goTop}"></div>
<div th:replace="~{view/shop/fragments/goTop :: preload}"></div>
<!-- /Scroll Top and preload -->

<div id="wrapper">
  <!-- Top Bar-->
  <div th:replace="~{view/shop/fragments/topbar :: topbar}"></div>
  <!-- /Top Bar -->

  <!-- Header -->
  <header class="tf-header header-fix header-abs-1">
    <div class="container-full">
      <div th:replace="~{view/shop/fragments/header :: header}"></div>
    </div>
  </header>

  <!-- Page Title -->
  <section class="s-page-title">
    <div class="container">
      <div class="content">
        <h1 class="title-page">Shop 4 Columns</h1>
        <ul class="breadcrumbs-page">
          <li><a class="h6 link" href="index.html">Home</a></li>
          <li class="d-flex"><i class="icon icon-caret-right"></i></li>
          <li>
            <h6 class="current-page fw-normal">Shop</h6>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- /Page Title -->

  <!-- Section Product -->
  <div class="flat-spacing">
    <div class="container">
      <div class="tf-shop-control">
        <div class="tf-control-filter">
          <a aria-controls="filterShop" class="tf-btn-filter" data-bs-toggle="offcanvas"
             href="#filterShop">
            <span class="icon icon-filter"></span><span class="text">Filter</span></a>
        </div>
        <div class="tf-control-sorting">
          <p class="h6 d-none d-lg-block">Sort by:</p>
          <div class="tf-dropdown-sort" data-bs-toggle="dropdown">
            <div class="btn-select">
              <span class="text-sort-value">Best Selling</span>
              <span class="icon icon-caret-down"></span>
            </div>
            <div class="dropdown-menu">
              <div class="select-item active remove-all-filters" data-sort-value="best-selling">
                <span class="text-value-item">Best Selling</span>
              </div>
              <div class="select-item" data-sort-value="a-z">
                <span class="text-value-item">Alphabetically, A-Z</span>
              </div>
              <div class="select-item" data-sort-value="z-a">
                <span class="text-value-item">Alphabetically, Z-A</span>
              </div>
              <div class="select-item" data-sort-value="price-low-high">
                <span class="text-value-item">Price, low to high</span>
              </div>
              <div class="select-item" data-sort-value="price-high-low">
                <span class="text-value-item">Price, high to low</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper-control-shop gridLayout-wrapper">
        <div class="meta-filter-shop">
          <div class="count-text" id="product-count-grid"></div>
          <div class="count-text" id="product-count-list"></div>
          <div id="applied-filters"></div>
          <button class="remove-all-filters" id="remove-all" style="display: none;"><i
              class="icon icon-close"></i> Clear all
          </button>
        </div>
        <div class="wrapper-shop tf-grid-layout tf-col-4" id="gridLayout">
          <!-- Product 1 -->
          <div class="card-product grid" data-availability="In stock" data-brand="fisoew"
               th:each="product : ${productList}"
               th:with="mainProductImgUrl=${product.images.isEmpty() ? '/images/products/product-default.jpg' : product.images[0].imageUrl},
              hoverProductImgUrl=${product.images.size() > 1 ? product.images[1].imageUrl : '/images/products/product-default.jpg'}">
            <div class="card-product_wrapper">
              <a class="product-img" th:href="@{'/products/' + ${product.sku}}">
                <img alt="Product" class="lazyload img-product"
                     th:data-src="${mainProductImgUrl}"
                     th:src="${mainProductImgUrl}">
                <img alt="Product" class="lazyload img-hover"
                     th:data-src="${hoverProductImgUrl}"
                     th:src="${hoverProductImgUrl}">
              </a>
              <div class="variant-box">
                <ul class="product-size_list" th:if="${!product.sizes.isEmpty()}">
                  <li class="size-item h6" th:each="size : ${product.sizes}"
                      th:text="${size.name}"></li>
                </ul>
              </div>
              <ul class="product-action_list">
                <li>
                  <a class="hover-tooltip tooltip-left box-icon" data-bs-toggle="offcanvas"
                     href="#shoppingCart">
                    <span class="icon icon-shopping-cart-simple"></span>
                    <span class="tooltip">Add to cart</span>
                  </a>
                </li>
                <li class="wishlist">
                  <a class="hover-tooltip tooltip-left box-icon" href="javascript:void(0);">
                    <span class="icon icon-heart"></span>
                    <span class="tooltip">Add to Wishlist</span>
                  </a>
                </li>
                <li>
                  <a class="hover-tooltip tooltip-left box-icon " data-bs-toggle="offcanvas"
                     href="#compare">
                    <span class="icon icon-compare"></span>
                    <span class="tooltip">Compare</span>
                  </a>
                </li>
                <li>
                  <a class="hover-tooltip tooltip-left box-icon" data-bs-toggle="modal"
                     th:href="'#quickView_' + ${product.id}">
                    <span class="icon icon-view"></span>
                    <span class="tooltip">Quick view</span>
                  </a>
                </li>
              </ul>
              <ul class="product-badge_list">
                <li class="product-badge_item h6"
                    th:classappend="${product.badge.className}"
                    th:if="${product.badge != null}">
                  <i class="icon icon-thunder"
                     th:if="${product.badge.className == 'flash-sale'}"></i>
                  <span th:text="${product.badge.value}"></span>
                </li>
              </ul>
              <div class="product-marquee_sale"
                   th:if="${product.isTopSale != null and product.isTopSale}">
                <div class="marquee-wrapper">
                  <div class="initial-child-container">
                    <!-- Lặp 10 lần cặp icon + text -->
                    <th:block th:each="i : ${#numbers.sequence(1, 10)}">
                      <div class="marquee-child-item">
                              <span class="icon">
                                <svg fill="none" height="16" viewBox="0 0 16 16" width="16"
                                     xmlns="http://www.w3.org/2000/svg">
                                  <path
                                      d="M9.67975 15.75C10.318 15.7593 10.9507 15.6314 11.5352 15.375C12.1992 15.0979 12.765 14.6284 13.1598 14.0269C13.5545 13.4253 13.7601 12.7194 13.75 12C13.75 9.75 13.25 9.25 12.5 7.75C11.75 6.25 12.5 4.75 12.5 4.75C11.9004 4.90199 11.3709 5.25494 11 5.75C11 0.5 7.5 0.25 7.5 0.25C7.70889 0.829856 7.77253 1.45206 7.68537 2.0622C7.5982 2.67233 7.36289 3.25183 7 3.75C5.75 5.5 4.5 6.5 4 8.5C4 8.5 3 8 3.25 7C3.25 7 2.25 8.75 2.25 11.5C2.25 14.5155 4.6655 15.4 5.8545 15.6525C6.17072 15.7184 6.49298 15.7511 6.816 15.75H9.67975Z"
                                      fill="#FEBD55"/>
                                  <path
                                      d="M6.21059 15.75C6.21059 15.75 3.63159 14.783 3.63159 11.8815C3.63159 8.658 5.86859 7.5 5.86859 7.5C5.86859 7.5 5.24359 8.658 5.88834 8.98025C5.88834 8.98025 6.96709 5.467 9.86859 4.5C9.86859 4.5 8.85534 5.56575 9.50009 7.5C10.1448 9.43425 12.3291 9.8685 12.3686 12V12.25C12.3939 12.9739 12.2024 13.6889 11.8186 14.3033C11.3216 15.0775 10.7478 15.75 9.43434 15.75H6.21059Z"
                                      fill="#FC9E20"/>
                                  <path
                                      d="M6.5 15.75C5.90819 15.5026 5.40266 15.0858 5.04684 14.5521C4.69103 14.0184 4.50079 13.3915 4.5 12.75C4.5 10.25 5.75 9.25 5.75 9.25C5.75 9.25 5.75 10.25 6.25 10.5C6.25 10.5 6.75 7 9 6.25C9 6.25 8.25 6.75 8.75 8.25C9.25 9.75 11.5 10.25 11.5 12.75V12.9677C11.5089 13.5535 11.35 14.1296 11.0422 14.628C10.8312 14.9786 10.531 15.2671 10.1723 15.4642C9.81362 15.6613 9.40915 15.7599 9 15.75H6.5Z"
                                      fill="#E03E3E"/>
                                </svg>
                              </span>
                      </div>
                      <div class="marquee-child-item">
                        <p class="text-small">TOP PRODUCT SALE OFF 50%</p>
                      </div>
                    </th:block>
                  </div>
                </div>
              </div>
              <div class="product-countdown"
                   th:if="${product.countdownTimer != null and product.countdownTimer > 0}">
                <div class="js-countdown cd-has-zero" data-labels="d : ,h : ,m : ,s"
                     th:attr="data-timer=${product.countdownTimer}"></div>
              </div>
            </div>
            <div class="card-product_info">
              <a class="name-product h4 link"
                 th:href="@{'/products/' + ${product.sku}}"
                 th:text="${product.name}">
                Product Name
              </a>
              <div class="price-wrap">
                <span th:if="${product.salePercentage} > 0" class="price-old h6 fw-normal" th:text="${#numbers.formatInteger(product.price, 3, 'COMMA')} + ' ₫'">$ 0</span>
                <span class="price-new h6" th:text="${#numbers.formatInteger(product.salePrice, 3, 'COMMA')} + ' ₫'">0</span>

              </div>
              <ul class="product-color_list">
                <li class="product-color-item color-swatch hover-tooltip tooltip-bot"
                    th:attr="data-main=${!color.imageUrls.isEmpty()} ? ${color.imageUrls.get(0)} : ${mainProductImgUrl},
                    data-hover=${!color.imageUrls.isEmpty() and color.imageUrls.size() > 1 ? color.imageUrls.get(1) : hoverProductImgUrl}"
                    th:classappend="${iterStat.first} ? 'active' : ''"
                    th:each="color, iterStat : ${product.colors}">
                  <span class="tooltip color-filter" th:text="${color.name}">Brown</span>
                  <span class="swatch-value"
                        th:style="'background-color: ' + ${color.code}"></span>
                </li>
              </ul>
            </div>
          </div>

          <!-- Pagination -->
          <div class="wd-full wg-pagination m-0 justify-content-center">
            <a class="pagination-item h6 direct" href="#"><i class="icon icon-caret-left"></i></a>
            <a class="pagination-item h6" href="#">1</a>
            <span class="pagination-item h6 active">2</span>
            <a class="pagination-item h6" href="#">3</a>
            <a class="pagination-item h6" href="#">4</a>
            <a class="pagination-item h6" href="#">5</a>
            <a class="pagination-item h6 direct" href="#"><i class="icon icon-caret-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Section Product -->

  <!-- Footer -->
  <div th:replace="~{view/shop/fragments/footer :: footer}"></div>
  <!-- /Footer -->
</div>
<!-- Mobile Menu -->
<div th:replace="~{view/shop/fragments/header :: mobileMenu}"></div>
<!-- /Mobile Menu -->

<!-- Filter Shop -->
<div class="offcanvas offcanvas-start canvas-filter" id="filterShop">
  <div class="canvas-wrapper">
    <div class="canvas-header">
      <span class="title h3 fw-medium">Filter</span>
      <span class="icon-close link icon-close-popup fs-24" data-bs-dismiss="offcanvas"></span>
    </div>
    <div class="canvas-body">
      <div class="widget-facet">
        <div aria-controls="category" aria-expanded="true" class="facet-title"
             data-bs-target="#category"
             data-bs-toggle="collapse"
             role="button">
          <span class="h4 fw-semibold">Category</span>
          <span class="icon icon-caret-down fs-20"></span>
        </div>
        <div class="collapse show" id="category">
          <ul class="collapse-body filter-group-check group-category">
            <li class="list-item">
              <a class="link h6" href="shop-default.html">T-shirts<span class="count">23</span></a>
            </li>
            <li class="list-item">
              <a class="link h6" href="shop-default.html">Footwear<span class="count">44</span></a>
            </li>
            <li class="list-item">
              <a class="link h6" href="shop-default.html">Shirts<span class="count">75</span></a>
            </li>
            <li class="list-item">
              <a class="link h6" href="shop-default.html">Dresses<span class="count">33</span></a>
            </li>
            <li class="list-item">
              <a class="link h6" href="shop-default.html">Underwear<span class="count">45</span></a>
            </li>
            <li class="list-item">
              <a class="link h6" href="shop-default.html">Accessories<span
                  class="count">32</span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="widget-facet">
        <div aria-controls="availability" aria-expanded="true" class="facet-title"
             data-bs-target="#availability" data-bs-toggle="collapse"
             role="button">
          <span class="h4 fw-semibold">Availability</span>
          <span class="icon icon-caret-down fs-20"></span>
        </div>
        <div class="collapse show" id="availability">
          <ul class="collapse-body filter-group-check current-scrollbar">
            <li class="list-item">
              <input class="tf-check" id="inStock" name="availability" type="radio">
              <label class="label" for="inStock">
                <span>In Stock</span><span class="count">23</span>
              </label>
            </li>
            <li class="list-item disabled">
              <input class="tf-check" id="outStock" name="availability" type="radio">
              <label class="label" for="outStock">
                <span>Out of Stock</span><span class="count">34</span>
              </label>
            </li>
          </ul>
        </div>
      </div>
      <div class="widget-facet">
        <div aria-controls="price" aria-expanded="true" class="facet-title" data-bs-target="#price"
             data-bs-toggle="collapse"
             role="button">
          <span class="h4 fw-semibold">Price</span>
          <span class="icon icon-caret-down fs-20"></span>
        </div>
        <div class="collapse show" id="price">
          <div class="collapse-body widget-price filter-price">
            <div class="price-val-range" data-max="500" data-min="0" id="price-value-range"></div>
            <div class="box-value-price">
              <span class="h6 text-main">Price:</span>
              <div class="price-box">
                <div class="price-val" data-currency="$" id="price-min-value"></div>
                <span>-</span>
                <div class="price-val" data-currency="$" id="price-max-value"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="widget-facet">
        <div aria-controls="brand" aria-expanded="true" class="facet-title" data-bs-target="#brand"
             data-bs-toggle="collapse"
             role="button">
          <span class="h4 fw-semibold">Brand</span>
          <span class="icon icon-caret-down fs-20"></span>
        </div>
        <div class="collapse show" id="brand">
          <ul class="collapse-body filter-group-check current-scrollbar">
            <li class="list-item">
              <input class="tf-check" id="automet" name="brand" type="checkbox">
              <label class="label" for="automet">AUTOMET</label>
            </li>
            <li class="list-item">
              <input class="tf-check" id="trendy-queen" name="brand" type="checkbox">
              <label class="label" for="trendy-queen">Trendy Queen</label>
            </li>
            <li class="list-item">
              <input class="tf-check" id="wiholl" name="brand" type="checkbox">
              <label class="label" for="wiholl">WIHOLL</label>
            </li>
            <li class="list-item">
              <input class="tf-check" id="real-essentials" name="brand" type="checkbox">
              <label class="label" for="real-essentials">Real Essentials</label>
            </li>
            <li class="list-item">
              <input class="tf-check" id="dokotoo" name="brand" type="checkbox">
              <label class="label" for="dokotoo">Dokotoo</label>
            </li>
            <li class="list-item">
              <input class="tf-check" id="hanes" name="brand" type="checkbox">
              <label class="label" for="hanes">Hanes</label>
            </li>
            <li class="list-item">
              <input class="tf-check" id="zeagoo" name="brand" type="checkbox">
              <label class="label" for="zeagoo">Zeagoo</label>
            </li>
            <li class="list-item">
              <input class="tf-check" id="shewin" name="brand" type="checkbox">
              <label class="label" for="shewin">SHEWIN</label>
            </li>
            <li class="list-item">
              <input class="tf-check" id="blooming-jelly" name="brand" type="checkbox">
              <label class="label" for="blooming-jelly">Blooming Jelly</label>
            </li>
            <li class="list-item">
              <input class="tf-check" id="fisoew" name="brand" type="checkbox">
              <label class="label" for="fisoew">Fisoew</label>
            </li>
          </ul>
        </div>
      </div>
      <div class="widget-facet">
        <div aria-controls="size" aria-expanded="true" class="facet-title" data-bs-target="#size"
             data-bs-toggle="collapse" role="button">
          <span class="h4 fw-semibold">Size</span>
          <span class="icon icon-caret-down fs-20"></span>
        </div>
        <div class="collapse show" id="size">
          <div class="collapse-body filter-size-box flat-check-list">
            <div class="check-item size-item size-check"><span class="size h6">XS</span></div>
            <div class="check-item size-item size-check"><span class="size h6">S</span></div>
            <div class="check-item size-item size-check"><span class="size h6">L</span></div>
            <div class="check-item size-item size-check"><span class="size h6">M</span></div>
            <div class="check-item size-item size-check"><span class="size h6">XL</span></div>
            <div class="check-item size-item size-check"><span class="size h6">2XL</span></div>
            <div class="check-item size-item size-check over-size"><span
                class="size h6">Over size</span></div>
          </div>
        </div>
      </div>
      <div class="widget-facet">
        <div aria-controls="size" aria-expanded="true" class="facet-title" data-bs-target="#color"
             data-bs-toggle="collapse"
             role="button">
          <span class="h4 fw-semibold">Color</span>
          <span class="icon icon-caret-down fs-20"></span>
        </div>
        <div class="collapse show" id="color">
          <div class="collapse-body filter-color-box flat-check-list">
            <div class="check-item color-item color-check">
              <span class="color bg-light-purple"></span>
              <span class="color-text">Purple</span>
            </div>
            <div class="check-item color-item color-check">
              <span class="color bg-dark-charcoal"></span>
              <span class="color-text">Dark</span>
            </div>
            <div class="check-item color-item color-check line">
              <span class="color bg-dark-jade"></span>
              <span class="color-text">Green</span>
            </div>
            <div class="check-item color-item color-check">
              <span class="color bg-light-beige"></span>
              <span class="color-text">Beige</span>
            </div>
            <div class="check-item color-item color-check">
              <span class="color bg-sage-green"></span>
              <span class="color-text">Sage Green</span>
            </div>
            <div class="check-item color-item color-check">
              <span class="color bg-tomato"></span>
              <span class="color-text">Light Orange</span>
            </div>
            <div class="check-item color-item color-check">
              <span class="color bg-honey-orange"></span>
              <span class="color-text">Orange</span>
            </div>
            <div class="check-item color-item color-check">
              <span class="color bg-dark-olive"></span>
              <span class="color-text">Dark Olive</span>
            </div>
            <div class="check-item color-item color-check">
              <span class="color bg-hot-pink"></span>
              <span class="color-text">Pink</span>
            </div>
            <div class="check-item color-item color-check">
              <span class="color bg-muted-violet"></span>
              <span class="color-text">Dark Violet</span>
            </div>
            <div class="check-item color-item color-check">
              <span class="color bg-dusty-olive"></span>
              <span class="color-text">Dusty Olive</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="canvas-bottom">
      <button class="tf-btn btn-reset" id="reset-filter">Reset Filters</button>
    </div>
  </div>
</div>
<!-- /Filter Shop -->

<!-- Toolbar -->
<div th:replace="~{view/shop/fragments/toolbar :: toolbar}"></div>
<!-- /Toolbar -->

<!-- Product actions -->
<div th:replace="~{view/shop/fragments/product-actions :: size-guide}"></div>
<div th:replace="~{view/shop/fragments/product-actions :: compare}"></div>
<th:block th:each="product : ${productList}">
  <div th:replace="~{view/shop/fragments/product-actions :: quick-view(${product})}"></div>
</th:block>
<!-- /Product actions -->

<!-- Search -->
<div th:replace="~{view/shop/fragments/header :: search}"></div>
<!-- /Search -->

<!-- Shopping Cart -->
<div th:replace="~{view/shop/fragments/header :: shoppingCart}"></div>
<!-- /Shopping Cart -->

<!-- Javascript -->

<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/swiper-bundle.min.js}"></script>
<script th:src="@{/js/carousel.js}"></script>
<script th:src="@{/js/bootstrap-select.min.js}"></script>
<script th:src="@{/js/lazysize.min.js}"></script>
<script th:src="@{/js/wow.min.js}"></script>
<script th:src="@{/js/infinityslide.js}"></script>
<script th:src="@{/js/parallaxie.js}"></script>
<script th:src="@{/js/count-down.js}"></script>
<script th:src="@{/js/nouislider.min.js}"></script>
<script src="/js/drift.min.js"></script>
<script th:src="@{/js/shop.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script src="/js/photoswipe-lightbox.umd.min.js"></script>
<script th:src="@{/js/language-switcher.js}"></script>
</body>

</html>
